/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.top-nav {
  background-color: #3B5998;
  border-bottom: 3px solid;
  border-top: 3px solid; }

.container {
  width: 980px;
  margin: 0 auto; }

.logo-container {
  width: 30%;
  margin-left: 5%;
  margin-right: 20px;
  display: inline-block; }
  .logo-container .img-container {
    padding-top: 10px;
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle; }
    .logo-container .img-container img {
      width: 100%;
      height: auto;
      display: inline-block; }
  .logo-container h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif, serif;
    font-size: 32px;
    display: inline-block;
    color: white;
    vertical-align: middle; }

.search {
  height: 30px;
  width: 50%;
  display: inline-block;
  border-radius: 5px; }

.profile {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, sans-serif, serif;
  font-size: 24px;
  color: white;
  vertical-align: middle;
  padding-left: 2%; }

main {
  width: 80%;
  border: 2px solid #eee;
  margin: auto; }

#left {
  height: #right;
  width: 30%;
  margin-left: 25px;
  padding-top: 50px;
  border-right: 2px solid;
  display: inline-block; }
  #left footer {
    color: #3B5998;
    text-decoration: underline;
    padding-right: 30px; }

.edit-profile:after {
  content: '';
  display: block;
  clear: both; }
.edit-profile img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
  margin-right: 10px; }
.edit-profile .name {
  font-family: "Helvetica Neue", Helvetica, sans-serif, serif;
  font-size: 18px;
  padding-top: 8px;
  text-decoration: underline;
  color: #3B5998; }
  .edit-profile .name span {
    padding-top: 4px;
    font-size: 0.6em;
    display: block; }

section {
  margin: 30px 0; }
  section header {
    margin-bottom: 10px;
    font-family: "Helvetica Neue", Helvetica, sans-serif, serif;
    font-size: 18px; }

.friend-container {
  border: 1px solid #eee;
  color: #3B5998;
  margin-bottom: 10px; }
  .friend-container:after {
    content: '';
    display: block;
    clear: both; }
  .friend-container img {
    border: 1px solid;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px; }
  .friend-container .name {
    padding-top: 7px;
    text-decoration: underline; }
  .friend-container .no-decoration {
    font-size: 0.6em;
    text-decoration: none; }

#right {
  margin: 50px 2%;
  width: 60%;
  display: inline-block;
  vertical-align: top; }
  #right .main {
    margin: 0 auto; }

.post-container {
  text-align: center;
  border: 2px solid; }
  .post-container header, .post-container footer {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;
    background-color: #9D9D9D; }
  .post-container textarea {
    height: 100%;
    width: 90%;
    margin: 2px auto; }
  .post-container footer:after {
    content: '';
    display: block;
    clear: both; }
  .post-container footer .button {
    margin: 5px 5px;
    float: right;
    background-color: #3B5998;
    color: white;
    box-shadow: 3px 3px 2px #090909; }

.feed {
  border: 1px solid;
  margin: 40px auto; }
  .feed .comment {
    width: 90%;
    margin: 0 auto; }
    .feed .comment p {
      margin-bottom: 10px; }
  .feed footer {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid;
    color: #3B5998;
    background-color: #9D9D9D; }
    .feed footer .like, .feed footer .button-comment {
      display: inline-block;
      margin: 2px 5px;
      text-decoration: underline; }
    .feed footer .like, .feed footer .liked {
      padding-left: 18px; }
    .feed footer .liked {
      margin-top: 10px;
      margin-left: 5px;
      text-decoration: underline;
      display: inline-block; }
    .feed footer span {
      color: black;
      font-size: 0.9em; }
  .feed .expanded {
    color: black; }
    .feed .expanded header {
      border-bottom: 2px solid; }
    .feed .expanded section {
      border: none; }
      .feed .expanded section:after {
        content: '';
        display: block;
        clear: both; }
      .feed .expanded section .button {
        margin: 5px 5px;
        float: right;
        background-color: #3B5998;
        color: white;
        box-shadow: 3px 3px 2px #090909; }
      .feed .expanded section .center {
        text-align: center; }
      .feed .expanded section textarea {
        height: 100%;
        width: 90%;
        margin: 0 auto; }

.edit-container:after {
  content: '';
  display: block;
  clear: both; }
.edit-container .unlike {
  float: left; }
.edit-container .delete {
  float: right; }
.edit-container .unlike, .edit-container .delete {
  font-size: 15px;
  text-decoration: underline; }

.status {
  margin-top: 15px; }

/*# sourceMappingURL=newsfeed.css.map */
