@import 'reset';
$fb-blue: #3B5998;
@mixin blue-back($hex: #3B5998) {
  background-color: #3B5998;
}
@mixin display($property: inline-block) {
  display: $property;
}
@mixin add-border {
  border: 2px solid;
}
@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin center-text {
  vertical-align: middle;
}

@mixin font ($size: 24px) {
	font-family: "Helvetica Neue", Helvetica, sans-serif, serif;
	font-size: $size;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.top-nav {
  @include blue-back;
  border-bottom: 3px solid;
  border-top: 3px solid;
}
.container {
	width: 980px;
	margin: 0 auto;
}

.logo-container {
  width: 30%;
  margin-left: 5%;
  margin-right: 20px;
  @include display;



	.img-container {
	  padding-top: 10px;
	  width: 70px;
	  height: 70px;
	  @include display;
	  @include center-text;
		img {
		  width: 100%;
		  height: auto;
		  display: inline-block;
		}
	} 

	h1 { 
	  @include font(32px);
	  @include display;
	  color: white;
	  @include center-text;
	}
}

.search {
	height: 30px;
	width: 50%;
	@include display;
	border-radius: 5px;
}

.profile {
  @include display;
  @include font;
  color: white;
  vertical-align: middle;
  padding-left: 2%;
}

aside {
  width: 30%;
  margin-left: 25px;
  padding-top: 50px;
  border-right: 2px solid;
}

.edit-profile {

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  img {
  	width: 100px;
  	height: 100px;
  	border-radius: 10px;
  	float: left;
  	margin-right: 10px;
  }
  .name {
	@include font(18px);
	padding-top: 8px;
  	text-decoration: underline;
  	color: $fb-blue;
  	span {
  	  padding-top: 4px;
  	  font-size: 0.6em;
  	  @include display(block);
  	}
  }
}

section {
  margin: 30px 0;
  
  header {
  	margin-bottom: 10px;
    @include font(18px);
  }
}

.friend-container {
  border: 1px solid #eee;
  color: $fb-blue;
  margin-bottom: 10px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
  img {
  	border: 1px solid;
  	width: 50px;
  	height: 50px;
  	float: left;
  	margin-right: 5px;
  }
  .name {
  	padding-top: 7px;
  	text-decoration: underline;
  }
  .no-decoration {
  font-size: 0.6em;
  text-decoration: none;
  }
}

footer {
  text-align: center;
  color: $fb-blue;
  text-decoration: underline;
  padding-right: 30px;
}
