/*SIGN UP PAGE*/

/*************
GLOABL STYLES
*************/
* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

/*************
HEADER STYLES
*************/

.main_sign_in {
	height: 100px;
	background: #3B5998;
}

.main_sign_in .logo {
	float: left;
	line-height: 100px;
	color: white;
	font-size: 40px;
	margin-left: 30px;
}

.main_sign_in .sign_in_wrapper {
	float: right;
	margin-right: 10px;
}

.main_sign_in .sign_in {
	float: left;
	margin: 20px;
}

.main_sign_in .sign_in_text {
	margin-top: 10px;
}

.main_sign_in .sign_in_button {
	margin-left: 10px;
}

.main_sign_in label {
	color: white;
}

/*************
CONTENT STYLES
*************/

.content_wrapper {
	width: 90%;
	margin: 0 auto;
}

.sign_up_content {
	width: 50%;
	float: left;
}

/*************
INFO BLOCK STYLES
*************/

.info_block {
	margin-top: 100px;
	line-height: 50px;
	padding-left: 20px;
}

.info_block h2 {
	font-size: 30px;
	font-weight: bold;
}

.info_block ul {
	list-style: disc inside;
	padding-left: 30px;
	color: #555;
}

/*************
SIGNUP FORM STYLES
*************/

.sign_up {
	margin-top: 20px;
}

.sign_up_form h1 {
	font-size: 50px;
	margin-bottom: 10px;
	font-weight: 500;
}

.sign_up_form .first_line {
	display: inline-block;
	float: left;
	width: 48%;
}

.sign_up_form .full_line {
	width: 100%;
}

.sign_up_form > * {
	margin: 10px 0;
}

.sign_up_form input[type="text"] {
	padding: 10px 5px;
}

.sign_up_form h2 {
	font-weight: bold;
}

.sign_up_form select {
	width: 20%;
}

.sign_up_form input[type="radio"] {
	margin-right: 5px;
	padding-right: 10px;
}

.radio_text {
	margin-right: 20px;
}

#sign_up_button {
	width: 100%;
	background: #66CD00;
	height: 50px;
	border: 1px solid black;
	color: white;
	font-size: 25px;
	font-weight: bold;
}

.sign_up_form .first {
	margin-right: 2%;
}

.sign_up_form .second {
	margin-left: 2%;
}

/*ABOUT & FRIENDS & NEWSFEED*/

/*************
HEADER STYLES
*************/

.profile_header {
	width: 100%;
	height: 50px;
	background: #3B5998;
}

.profile_header .header_logo {
	float: left;
	display: inline-block;
}

.profile_header .header_logo h2 {
	font-size: 30px;
	line-height: 50px;
}

.profile_header .header_logo img {
	height: 30px;
	width: 30px;
	margin-top: 9px;
	margin-right: 5px;
} 

.profile_header .header_logo img,
.profile_header .header_logo h2 {
	float: left;
}

.profile_header .header_search {
	margin: 0 auto;
	width: 500px;
}

.profile_header .header_search .searchbar{
	width: 500px;
	display: inline-block;
	margin-top: 11px;
	padding: 5px 0;
}

.profile_header .header_profile {
	float: right;
	display: inline-block;
}

.profile_header .header_profile h2 {
	line-height: 50px;
}

.profile_header h2 {
	color: white;
}

/*ABOUT & FRIENDS*/

/*************
PROFILE TOPPER STYLES
*************/

.profile_topper {
	height: 300px;
}

.profile_topper .topper_images {
	width: 100%;
	height: 250px;
}

.topper_images .cover_image {
	width: 100%;
	height: 250px;
	background: #CCC;
	position: relative;
	border: 1px solid black;
}

.topper_images .cover_image .cover_photo {
	width: 100%;
	height: 250px;
	position: relative;
}

.topper_images .profile_image {
	height: 150px;
	width: 150px;
	background: red;
	float: left;
	position: relative;
	bottom: 125px;
	left: 20px;
	border: 1px solid black;
}

.topper_images .profile_image img {
	height: 150px;
	width: 150px;
}

.profile_topper .profile_navigation {
	width: 100%;
	height: 50px;
	border: 1px solid black;
}



.profile_navigation .button_container {
	display: inline-block;
	width: 50%;
	height: 49px;
	margin-left: 40px;
}

.button_container .navigation_buttons {
	float: left;
	height: 50px;
	width: 25%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	line-height: 50px;
	text-align: center;
}

.profile_navigation .edit_link {
	float: right;
	line-height: 49px;
	margin-right: 10px;
	text-decoration: none;
}

.navigation_buttons span {
	margin-left: 5px;
	font-size: 14px;
	color: #AAA;
}

/*ABOUT*/

/*************
PROFILE CONTENT STYLES
*************/

.profile_content {
	margin-top: 10px;
	width: 100%;
	height: 500px;
	border: 1px solid black;
}

.profile_content .profile_content_header {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;
	background: lightgrey;
	text-align: center;
}

.profile_content .profile_content_header h2 {
	display: inline-block;
	line-height: 50px;
	font-size: 35px;
}

.profile_content .profile_content_editbutton {
	width: 130px;
	height: 30px;
	border: 1px solid black;
	background: #3B5998;
	float: right;
	text-align: center;
	color: white;
	line-height: 30px;
	margin: 10px 10px 0 0; 

}

.article_container {
	height: 450px;
	width: 100%;
	display: inline-block;
}

.article_container .about_content_articles {
	height: 400px;
	float: left;
}

.article_container .article_one {
	width: 40%;
}

.article_container .article_two {
	width: 60%;
} 
