.global {
	background-color: #3B5998; 
	color: #FFFFFF;
	border-style: solid; 
	border-color: black;
	border-width: .1rem;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif; 
    padding-top: 1rem; 
	padding-left: 1rem; 
	padding-bottom: .8rem;
}

.global h1{
	font-size: 2rem; 
	font-weight: bold; 
	display: inline-block;
	 margin-left: .3rem;
}

.global form{ 
	display: inline-block;
	position: absolute; 
	right: .5rem;
	top: 1rem;
 }

.global form input{
 	padding-left: .3rem;
 }

.global form div{
 	display: inline-block; 
 }

 .global label{ 
 	display: block; 
 	font-size: .7rem;
 	margin-bottom: .1rem; 
 }

.siteSearch{ 
	width:50%;
	margin-left: 8rem;
 }

.userMenu{
margin-left: 11rem; 
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

 #main #description, #main #signup{
 	display: inline-block;
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
 }

 #description{
 	margin-top:8rem; 
 	margin-left:8rem;
 	margin-right:4rem;
 	width: 36rem;
 	vertical-align: top; 
 }

 #description h2{
 	font-size: 2rem; 
 	font-weight: bold; 
 }

 #description ul{
 	padding-left: 3.5rem;
 }

#description li{
	margin-top: 1.7rem; 
	list-style-type: disc;
}

 #signup{
 	margin-top: 3rem; 
 	margin-bottom: 2rem; 
 	width: 27rem;
 }

#signup h3{
	font-size: 2.5rem; 
	padding-bottom: .8rem; 
	font-weight: bold;
}

#signup div{
	margin-top:.7rem; 
}

#signup textarea{
	border-color: grey; 
	border-style: solid;
    color: #656161;
    font-size: .9rem;
    box-sizing: border-box;
    height: 40px;
    border-width: .3rem; 
    border-radius: 5px
}

textarea.long{
	width: 410px;
}

textarea.short{
	width: 200px;
}

textarea:focus{
	border-color:#000; 
}
#signup .bolded{ 
	font-weight: bold; 
	margin-top: .4rem; 
	margin-bottom: 1rem; 
	font-size: 1rem; 
	display: block;
}

#signup .gender{
	margin-bottom:.5rem;
}

#signup button{
	width: 410px;
	height: 40px;
	background-color: green; 
	border-color: black; 
	border-width: .3rem;
	color: white;
	font-weight: bold; 
}

footer{
	background-color: grey; 
	color: grey;
	position: absolute;
	width: 100%;
	bottom: 0px;
}
