html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body
{
    font: 400 16px/20px 'Roboto', Arial, sans-serif;

    color: #2d2d2d;
    background-color: #e9ebee;
}

html,
body
{
    height: 100%;
}

button
{
    margin: 0;

    color: white;
    border: 0;
}

h1
{
    font-size: 3em;
    font-weight: 400;
}

h1.fb-logo
{
    font-weight: 700;

    text-transform: lowercase;
}

h2
{
    font-size: 2.25em;
    font-weight: 700;
}

h3
{
    font-size: 1.2em;
}

input
{
    border: none;
}

input[type=radio] + input[type=radio]
{
    margin-left: 20px;
}

select
{
    font-size: 14px;

    height: 30px;
    padding: 5px;
}

select + select
{
    margin-left: 10px;
}

#birthday,
.signup-info
{
    flex-direction: column;
}

#birthday,
#gender
{
    margin-top: 20px;
}

#birthday > div + div
{
    margin-top: 10px;
}

#header-bar
{
    display: flex;

    color: white;

    justify-content: space-between;
}

#header-bar > div
{
    display: flex;

    align-items: center;
}

#header-bar img
{
    padding-right: 5px;
}

#header-bar button
{
    padding: 4px 8px;

    border: 1px solid #29487d;
    background-color: #4267b2;
}

#header-bar label,
#header-bar input
{
    font-size: 12px;
}

#header-bar input
{
    padding: 3px;

    border: 1px solid #2d2d2d;
}

#header-container
{
    display: flex;

    width: 100%;

    background-color: #3e5b99;
}

#main-container
{
    display: flex;
}

#name > input + input
{
    margin-left: 10px;
}

#search-input input
{
    width: 500px;
    height: 24px;
    padding-left: 10px;

    border: none;
    border-radius: 3px;
}

.about-fb,
.about-fb > ul
{
    margin-left: 30px;
}

.about-fb > h2
{
    padding-bottom: 30px;
}

.about-fb > ul
{
    list-style: disc inside;
}

.about-fb li + li
{
    padding-top: 20px;
}

.content-container
{
    display: flex;

    width: 980px;

    align-items: center;
}

.flex
{
    display: flex;
}

.login
{
    padding: 25px 0;
}

.login td
{
    padding: 0 7px;
}

.overall-container
{
    justify-content: center;
}

.search
{
    padding: 10px 0;
}

.signup
{
    padding: 50px 0;

    justify-content: space-between;
}

.signup-form
{
    width: 36%;
}

.signup-form > h1
{
    padding-bottom: 30px;
}

.signup-form .submit-button{
    box-shadow: 0 3px 5px;
}

.signup-form .submit-button button{
    border: 2px solid #2d2d2d;
    background-color: #249d0f;
}

.signup-info
{
    display: flex;
}

.signup-info > div
{
    display: flex;
}

.signup-info > div + div
{
    margin-top: 10px;
}

.signup-info input[type=text]
{
    font-size: .8em;

    width: 100%;
    padding: 8px;

    border: 2px solid #ccc;
    border-radius: 5px;
}

.submit-button button{
    font-size: 1em;

    width: 100%;
    padding: 10px 0;
}
