html {
  background-color: #E9EBEE;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Nav */
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
a:hover {
  background-color: #F6F7F9;
}
nav.navigation {
  width: 100%;
  background-color: #3B5998;
  color: #FFF;
  font-size: 12px;
}
.index-head {
  height: 80px;
}
.container {
  width: 850px;
  margin: 0 auto;
}
.container-large {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.active-friends {
  width: 200px;
  box-sizing: border-box;
}
.ib-header {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ib-header a:hover {
  background-color: transparent;
}
.fb-logo {
  font-size: 28px;
  margin: 0 10px;
}
.logo, .log-in {
  display: inline-block;
}
.logo {
    float: left;
    font-size: 40px;
    line-height: 80px;
}
.log-in {
  float: right;
}
.inline {
  display: inline-block;
  line-height: 20px;
  margin-right: 30px;
  margin-top: 20px;
}
.inline label, .inline input {
  display: block;
}
.btn-log-in {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #4267B2;
  border: 1px solid #29487D;
  cursor: pointer;
  font-weight: bold;
  color: #FFF;
  line-height: 18px;
}
.btn-log-in:hover {
  background-color: #365899;
}
.search-bar {
  width: 400px;
  height: 24px;
  background-color: #E9EBEE;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 40px;
}
.search-bar input {
  width: 350px;
  height: 24px;
  border: none;
  border-radius: 2px;
  padding: 0 5px;
}
.search-icon {
  font-size: 14px;
  color: #444;
  margin: 0 auto;
}
.user-photo {
  width: 24px;
  height: 24px;
  background-color: #666;
  border-radius: 2px;
  text-align: center;
  line-height: 24px;
}
.ib-header p {
  font-weight: bold;
  padding: 0 15px;
  height: 24px;
  line-height: 24px;
}
.ib-header p:hover {
  background-color: #355089;
  border-radius: 2px;
  cursor: pointer;
}
/* Header */

.profile-ban {
  border: 1px solid rgba(0,0,0,0.6);
  display: block;
}
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #4565A1;
}
.nav-list li {
  list-style-type: none;
  height: 45px;
  line-height: 45px;
  background-color: #FFF;
  border-right: 1px solid #d3d6db;
  border-bottom: 1px solid #d3d6db;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.nav-list li:nth-of-type(-6n+7) {
  flex-grow: 5;
}
.nav-list li:nth-of-type(n+2):nth-of-type(-n+6) {
  flex-grow: 1;
}
.profile-pic {
  position: relative;
}
.profile-pic img {
  position: absolute;
  bottom: 22px;
  left: 13px;
  border: 3px solid #FFF;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #AAA;
}
.profile-pic h1 {
  position: absolute;
  font-size: 2em;
  color: #FFF;
  top: -50px;
  left: 200px;
  text-align: left;
  width: 200px;
}
.active {
  color: #52555C;
  position: relative;
}
.up-arrow {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E9EBEE;
  bottom: -1px;
  left: calc(50% - 10px);
  z-index: 1;
}
.friends-nber {
  font-size: 12px;
  font-weight: normal;
  color: #BBB;
}


/* Main */

.presentation {
  width: 48%;
  float: left;
}
.formulaire {
  width: 50%;
  float: right;
}
.presentation h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 80px 0 30px 30px;
}
.join-us {
  list-style-type: square;
  font-size: 16px;
  line-height: 1.8;
  margin-left: 70px;
}
strong {
  font-weight: bold;
}
.sign-up {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  margin: 40px 0 30px 0;
}
fieldset input {
  height: 39px;
  border: 1px solid #BDC7D8;
  border-radius: 5px;
  padding-left: 10px;
}
.field-1 input {
  margin: 0 30px 20px 0;
}
.field-2 input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.field-2 {
  margin-bottom: 30px;
}
.bday {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.b-select {
  height: 30px;
  margin-bottom: 30px;
}
fieldset.radio {
  display: block;
  font-size: 18px;
}
.radio input {
  height: 16px;
  width: auto;
  display: inline;
}
.radio input:nth-of-type(2) {
  margin-left: 20px;
}
.btn-submit {
  width: 199px;
  height: 39px;
  font-size: 20px;
  color: #FFF;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #235A00;
  background-color: #348300;
}
.btn-submit:hover {
  background-color: #388B02;
  cursor: pointer;
}
.bandeauMain {
  margin-top: 30px;
  border: 1px solid #d3d6db;
}
.bandeauMain-title {
  height: 58px;
  line-height: 58px;
  background-color: #F6F7F9;
  color: #4B4F56;
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #d3d6db;
}
.bandeauMain-title span {
  margin-left: 20px;
}
.bandeauMain-title h2 {
  text-align: center;
}
.user-info {
  display: flex;
}
.section-info {
  flex-basis: 50%;
  flex-grow: 1;
  background-color: #FFF;
  padding-left: 30px;
  padding-bottom: 30px;
}
.section-info:last-of-type {
  padding-right: 30px;
}
.section-info p {
  line-height: 1.4;
}
.section-info h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}
.user-table-info tr {
  height: 30px;
}
.user-table-info td {
  vertical-align: middle;
}
.user-table-info td:first-child {
  width: 150px;
}
.Friends-List {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 10px;
  background: #FFF;
}
.Friend-info {
  flex-basis: 150px;
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ced0d4;
  display: inline-flex;
  background: #FFF;
}
.Friend-name {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Friend-name p:first-of-type {
    font-size: 0.8em;
    font-weight: bold;
    color: #4561A1;
    text-decoration: underline;
    margin-bottom: 5px;
}
.Friend-name p:nth-of-type(2) {
  font-size: 12px;
  color: #999;
}
.unfriend {
  height: 30px;
  width: 100px;
  margin: auto;
  cursor: pointer;
  background-color: #f6f7f9;
  color: #4b4f56;
  border: 1px solid #ced0d4;
  font-size: 12px;
  font-weight: bold;
}
.unfriend:hover {
  background-color: #e9ebee;
}
.active-friends-profile {
  flex-basis: 150px;
  flex-grow: 1;
  margin: 10px 0;
  display: inline-flex;
}
.Profile-name {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Profile-name p:first-of-type {
    font-size: 1em;
    font-weight: bold;
    color: #4561A1;
    text-decoration: underline;
    margin-bottom: 5px;
}
.Profile-name p:nth-of-type(2) {
  font-size: 14px;
  color: #4561A1;
  text-decoration: underline;
}
.news {
  border-left: 1px solid #ced0d4;
}
.container-post {
  width: 600px;
  margin-left: 100px;
  margin-top: 30px;
  border: 1px solid #d3d6db;
}
.container-post h2 {
  text-align: center;
  font-weight: bold;
  background-color: #FFF;
  line-height: 30px;
  border-bottom: 1px solid #d3d6db;
}
.TellTheWorld {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Post-area {
  width: 90%;
}
.post-button {
  height: 30px;
  background-color: #FFF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #d3d6db;
}
.post-button button {
  height: 20px;
  width: 80px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #3B5998;
  color: #FFF;
  border: 1px solid #ced0d4;
  font-size: 12px;
  font-weight: bold;
}
.friend-post {
  padding: 0 10px 10px 10px;
  background-color: #FFF;
  border-bottom: 1px solid #d3d6db;
}
.friend-post p {
  font-size: 14px;
}
.comment {
  font-size: 12px;
}
.border {
  border-bottom: 1px solid #d3d6db;
}
.comment span {
  line-height: 22px;
  font-weight: bold;
  text-decoration: underline;
  color: #4561A1;
}
.margin {
  margin-left: 10px;
}
.comment p {
  margin-left: 10px;
}
.like {
  display: flex;
  justify-content: space-between;
}
.like span {
  margin-right: 10px;
}
.comment-list {
  background-color: #FFF;
  padding: 10px;
}
.top-margin {
  margin-top: 20px;
}
