body{ 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.global.header{
	background-color: #3B5998; 
	color: #FFFFFF;
	border-style: solid; 
	border-color: black;
	border-width: .1rem; 
}

.global h1{
	font-size: 2rem; 
	font-weight: bold; 
	display: inline-block;
	padding-top: 1rem; 
	padding-left: 1rem; 
	padding-bottom: .8rem; 
}

.header form{ 
	display: inline-block;
	position: absolute; 
	right: .5rem;
	top: 1rem;
 }

 .header input{
 	padding-left: .3rem;
 }

 .header form div{
 	display: inline-block; 
 }

 form div label{ 
 	display: block; 
 	font-size: .7rem;
 	margin-bottom: .1rem; 
 }

 /*#signup{
 	float: right;
 	width:30rem;
 	height: 40rem;
 }*/

 #main #description, #main #signup{
 	display: inline-block;
 	/*width: 44rem;*/
 }

 #description{
 	margin-top: 4rem; 
 	margin-left:5rem;
 	margin-right:4rem;
 	width: 44rem;
 }

 #description h2{
 	font-size: 2rem; 
 	/*padding:1rem;*/
 }

#description li{
	margin-top: 1rem; 
}

 #signup{
 	margin-top: 1rem; 
 	margin-bottom: 2rem; 
 	margin-left: .3rem; 
 	width: 27rem;
 }

#signup h3{
	font-size: 2.5rem; 
	padding-bottom: .8rem; 
}

#signup div{
	margin-top:.7rem; 
}

#signup textarea{
	border-color: grey; 
}

#signup label{ 
	font-weight: bold; 
	margin-top: .4rem; 
	margin-bottom: .2rem; 
	font-size: 1rem; 
}





