@import '_reset'

// Variables
$blue-accent: #3B5998 // fb blue
$dkbl-accent: #1d2a5b // dark blue shadow
$white: #fff

$b-font: 'Open Sans'
$h-font: 'Montserrat'

/* Base */
body
  font-family: $b-font, sans-serif
  font-size: 15px

header
  background-color: $blue-accent
  color: $white

/* Layout */
.wrapper
  width: 980px
  margin: 0 auto

.float-left
  float: left

.float-right
  float: right

.clearfix:after
  content: ""
  display: table
  clear: both

/* module */
.logo
  font-family: $h-font, sans-serif
  font-size: 2.4em
  font-weight: 700
  letter-spacing: -1px

.login
  margin: 1.4em 0

  label
    display: block
    margin-bottom: 0.3em

  input
    border: 1px solid $dkbl-accent
    padding: 3px

  #email, #password
    width: 142px
    margin-right: 0.8em

/* state */
.logged-out
  margin-top: 0.8em