
$facebook-headline-color: #3D5B99;
$login-button-color: #4267B2;
$facebook-background-color: #EDF0F5;
$create-account-button-color: #609C4D;
$select-birthday-color: #DDD;
$general-border-color: #DCDCDC;
$nav-font-color: #3B5998;
$container-header-color: #F6F7F9;
