.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row-wrap;
  flex-flow: row wrap;
  text-align: center; }

.section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row-wrap;
  flex-flow: row wrap;
  text-align: center; }

body {
  margin: 0; }

.wrapper > * {
  float: right;
  flex: 1 100%; }

.header {
  background: #007FFF;
  border: solid 3px black;
  width: 100%;
  min-width: 1340px; }
  .header #heading {
    display: inline-flex;
    margin: 0 auto;
    position: relative;
    min-width: 1340px; }
    .header #heading #logo {
      font-size: 2.4em;
      text-align: left;
      color: white;
      margin: 0px 0px 0px 2px; }
    .header #heading .searchbar {
      display: inline-block;
      position: relative;
      left: 5%;
      top: 8px; }
      .header #heading .searchbar .group {
        margin-bottom: 10px;
        font-weight: bold;
        color: white;
        text-align: left;
        display: inline; }
        .header #heading .searchbar .group .normal {
          width: 780px;
          height: 28px;
          font-size: large; }
  .header p {
    font-size: 1.5em;
    margin: 7px 0px 0px 25%;
    color: white; }

.section {
  margin: 0 auto;
  position: relative;
  max-width: 1340px;
  min-width: 1340px; }
  .section .sec0 {
    float: left;
    height: 450px;
    min-width: 1340px;
    display: block; }
    .section .sec0 #big-image {
      height: 80%;
      background-color: lightblue;
      padding: 22px; }
      .section .sec0 #big-image p {
        width: 250px;
        font-size: 1.8em;
        position: relative;
        top: 90%;
        left: 17%; }
    .section .sec0 #small-image {
      position: absolute;
      height: 260px;
      width: 250px;
      background-color: lightgreen;
      bottom: 57%;
      left: 1.9%; }
    .section .sec0 #navbar {
      height: 12%;
      border: black solid 2px;
      margin: 0 auto; }
      .section .sec0 #navbar #small-image {
        height: 400px; }
      .section .sec0 #navbar ul {
        padding: 0;
        background-position: center;
        margin: -2px 0px 0px 296px;
        text-align: left;
        height: 99.5%; }
      .section .sec0 #navbar li {
        height: 100%;
        border: black solid 2px;
        font-size: x-large;
        display: inline-block;
        margin: 0px -6px 0px 0px;
        padding: 0px 20px 0px 20px; }
      .section .sec0 #navbar a {
        color: black;
        text-decoration: none;
        position: relative;
        top: 14px; }

#about-cont {
  border: black solid 3px;
  min-width: 1336px;
  max-width: 1336px;
  margin: 40px 0px 0px 0px;
  height: 530px; }
  #about-cont .about {
    float: left;
    border: solid 3px black;
    width: 1335px;
    margin: -3px;
    background-color: lightgrey; }
    #about-cont .about #abouting {
      display: inline-flex;
      margin: 0 auto;
      position: relative; }
      #about-cont .about #abouting #abouter {
        font-size: 2.7em;
        text-align: left;
        color: black;
        margin: 0px 0px 0px 166px; }
      #about-cont .about #abouting .edit {
        border: black solid 2px;
        padding: 4px 0px 22px 0px;
        width: 200px;
        height: 28px;
        font-size: large;
        background-color: #007FFF;
        color: white;
        border: solid 2px;
        position: relative;
        top: 19%;
        left: 207%; }

.sec1 {
  float: left;
  height: 481px;
  width: 603px; }
  .sec1 #sectone {
    position: relative;
    top: 24px; }
    .sec1 #sectone #Basic {
      width: 500px;
      margin-left: -69px;
      font-size: xx-large; }
    .sec1 #sectone #master-cont {
      display: inline-flex;
      margin-left: -235px; }
      .sec1 #sectone #master-cont #container {
        position: relative;
        bottom: 20px;
        left: 253px;
        font-size: 1.2em;
        width: 475px; }
        .sec1 #sectone #master-cont #container #reasons {
          text-align: left;
          font-weight: bold; }
      .sec1 #sectone #master-cont #container2 {
        position: relative;
        bottom: 20px;
        left: -62px;
        font-size: 1.2em;
        width: 475px; }
        .sec1 #sectone #master-cont #container2 #reasons {
          text-align: left; }
  .sec1 #secttwo {
    height: 300px; }
    .sec1 #secttwo #Contact {
      width: 500px;
      margin-left: -54px;
      font-size: xx-large; }
    .sec1 #secttwo #master-cont {
      display: inline-flex;
      margin-left: -235px; }
      .sec1 #secttwo #master-cont #container {
        position: relative;
        bottom: 20px;
        left: 253px;
        font-size: 1.2em;
        width: 475px; }
        .sec1 #secttwo #master-cont #container #reasons {
          text-align: left;
          font-weight: bold; }
      .sec1 #secttwo #master-cont #container2 {
        position: relative;
        bottom: 20px;
        left: -62px;
        font-size: 1.2em;
        width: 475px; }
        .sec1 #secttwo #master-cont #container2 #reasons {
          text-align: left; }

.sec2 {
  float: left;
  height: 450px;
  width: 683px; }
  .sec2 #sectone {
    position: relative;
    top: 24px; }
    .sec2 #sectone #Words {
      width: 500px;
      margin-left: -137px;
      font-size: xx-large; }
    .sec2 #sectone #container-words {
      position: relative;
      bottom: 20px;
      left: -6px;
      font-size: 1.2em;
      width: 639px;
      text-align: left; }
  .sec2 #secttwo {
    position: relative;
    top: 24px; }
    .sec2 #secttwo #Me {
      width: 500px;
      margin-left: -187px;
      font-size: xx-large; }
    .sec2 #secttwo #container-me {
      position: relative;
      bottom: 20px;
      left: -6px;
      font-size: 1.2em;
      width: 639px;
      text-align: left; }

/*# sourceMappingURL=about1.css.map */
