html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: arial, sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* RESET COMPLETE */
/*******************************************************************

                     The start of homepage.html

******************************************************************/
body {
  background-color: #EDF0F5; }

.homepage-header {
  width: 100%;
  height: 80px;
  background-color: #3D5B99;
  position: absolute;
  top: 0px; }
  .homepage-header .homepage-header-container {
    width: 980px;
    padding-left: -webkit-calc((100% - 980px) / 2);
    padding-right: -webkit-calc((100% - 980px) / 2);
    padding-left: -moz-calc((100% - 980px) / 2);
    padding-right: -moz-calc((100% - 980px) / 2);
    padding-left: calc((100% - 980px) / 2);
    padding-right: calc((100% - 980px) / 2);
    height: 80px;
    min-width: 980px;
    position: absolute;
    box-sizing: content-box; }
  .homepage-header h1 {
    font-weight: bold;
    font-size: 40px;
    color: white;
    float: left;
    width: 400px;
    padding: 20px 0px;
    box-sizing: border-box; }
  .homepage-header .log-in-div {
    float: right;
    margin: 15px 15px 0px 0px;
    width: 400px;
    height: 80px; }
    .homepage-header .log-in-div table tr td p {
      font-size: 12px;
      color: white;
      padding-bottom: 5px;
      padding-left: 20px; }
    .homepage-header .log-in-div .login-info {
      width: 150px;
      margin-left: 20px;
      background-color: white; }
    .homepage-header .log-in-div table input {
      background-color: #4267B2;
      width: 50px;
      margin-left: 20px;
      color: white;
      font-weight: bold;
      align-content: center;
      border: 1px solid black;
      border-radius: 1px; }
    .homepage-header .log-in-div table .login-info {
      color: black; }

.homepage-main-container {
  width: 980px;
  padding-left: -webkit-calc((100% - 980px) / 2);
  padding-right: -webkit-calc((100% - 980px) / 2);
  padding-left: -moz-calc((100% - 980px) / 2);
  padding-right: -moz-calc((100% - 980px) / 2);
  padding-left: calc((100% - 980px) / 2);
  padding-right: calc((100% - 980px) / 2);
  background-color: #EDF0F5;
  height: 600px;
  position: absolute;
  top: 80px;
  box-sizing: content-box; }
  .homepage-main-container .left {
    float: left;
    overflow: auto;
    width: 565px; }
    .homepage-main-container .left h2 {
      padding-top: 50px;
      padding-bottom: 30px;
      width: 410px;
      height: auto;
      font-size: 28px; }
    .homepage-main-container .left article {
      border-top: 20px;
      width: 100%;
      clear: left;
      padding-bottom: 10px;
      padding-top: 20px; }
    .homepage-main-container .left img {
      float: left;
      margin-bottom: 10px;
      width: 55;
      height: auto; }
    .homepage-main-container .left section {
      float: left;
      margin-top: 15px;
      margin-left: 20px; }
    .homepage-main-container .left h3 {
      font-weight: bold;
      font-size: 16px;
      color: black;
      float: left; }
    .homepage-main-container .left h5 {
      margin-left: 10px;
      float: left;
      color: gray;
      font-size: 16px; }
  .homepage-main-container .right {
    float: right;
    width: 400px; }
    .homepage-main-container .right h1 {
      font-weight: bold;
      font-size: 32px;
      color: black;
      padding: 20px 0px 5px 0px; }
    .homepage-main-container .right h3 {
      font-size: 16px;
      padding-bottom: 20px; }
    .homepage-main-container .right section {
      position: absolute;
      top: 90px;
      width: 400px; }
    .homepage-main-container .right .sign-up-input {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      border: 2px solid #DCDCDC;
      color: #DCDCDC;
      height: 40px;
      box-sizing: border-box;
      font-size: 20px;
      padding-left: 10px; }
    .homepage-main-container .right .wide-input {
      width: 100%;
      float: left;
      margin-top: 10px; }
    .homepage-main-container .right .short-input {
      width: 195px; }
    .homepage-main-container .right .last-name {
      float: right; }
    .homepage-main-container .right .input-birthday {
      padding: 25px 0px 10px 0px;
      float: left;
      width: 100%;
      font-size: 24px; }
    .homepage-main-container .right form {
      width: 100%;
      float: left; }
      .homepage-main-container .right form select {
        padding: 5px;
        margin: 0px;
        float: left;
        font-style: 16px;
        background-color: #DDD; }
    .homepage-main-container .right ul {
      width: 100%;
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
      list-style: none; }
      .homepage-main-container .right ul li label {
        padding: 10px;
        padding-top: 0px;
        float: left;
        font-size: 24px; }
      .homepage-main-container .right ul input {
        float: left; }
    .homepage-main-container .right .create-account {
      font-weight: bold;
      font-size: 20px;
      color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      background-color: #609C4D;
      padding: 10px 25px;
      border: 1px solid gray; }

/*******************************************************************

                     The start of aboutpage.html

******************************************************************/
.nav-banner-container {
  height: 45px;
  position: fixed;
  background-color: #3D5B99;
  width: 100%; }
  .nav-banner-container img {
    float: left;
    padding-top: 10px; }
  .nav-banner-container h1, .nav-banner-container h2 {
    font-weight: bold;
    font-size: 25px;
    color: white; }
  .nav-banner-container h1 {
    padding: 10px 30px 0px 5px;
    float: left;
    height: 100%; }
  .nav-banner-container nav {
    width: 1000px;
    padding-left: -webkit-calc((100% - 1000px) / 2);
    padding-right: -webkit-calc((100% - 1000px) / 2);
    padding-left: -moz-calc((100% - 1000px) / 2);
    padding-right: -moz-calc((100% - 1000px) / 2);
    padding-left: calc((100% - 1000px) / 2);
    padding-right: calc((100% - 1000px) / 2);
    width: 1000px;
    position: fixed; }
    .nav-banner-container nav input {
      height: 25px;
      width: 500px;
      float: left;
      margin-top: 10px;
      box-sizing: border-box; }
    .nav-banner-container nav h2 {
      padding-top: 14.5px;
      float: right;
      height: 100%;
      font-size: 16px;
      color: white; }

.main-container {
  width: 1000px;
  padding-left: -webkit-calc((100% - 1000px) / 2);
  padding-right: -webkit-calc((100% - 1000px) / 2);
  padding-left: -moz-calc((100% - 1000px) / 2);
  padding-right: -moz-calc((100% - 1000px) / 2);
  padding-left: calc((100% - 1000px) / 2);
  padding-right: calc((100% - 1000px) / 2);
  /*
  position: absolute;
	top: 45px;
  */
  margin-top: 45px;
  float: left; }

.main-subcontainer-1 {
  position: relative;
  display: inline-block;
  background-color: white;
  height: 360px;
  border: 1px solid #DCDCDC;
  border-top: 0px; }
  .main-subcontainer-1 .upper-container-element {
    box-sizing: border-box; }
  .main-subcontainer-1 ul {
    margin-left: 200px;
    width: 520px; }
    .main-subcontainer-1 ul li {
      display: inline-block;
      border-right: 1px #DCDCDC solid;
      padding-bottom: 10px;
      padding-top: 14px; }
    .main-subcontainer-1 ul li:first-child {
      border-left: 1px #DCDCDC solid; }
    .main-subcontainer-1 ul li a {
      font-weight: bold;
      font-size: 16px;
      color: #3B5998;
      display: inline-block;
      background-color: white;
      text-align: center;
      box-sizing: border-box;
      width: 120px;
      margin: 0px; }
    .main-subcontainer-1 ul li a h4 {
      display: inline-block;
      color: #DCDCDC; }
  .main-subcontainer-1 .banner-image {
    position: absolute;
    top: 180px;
    left: 20px;
    padding: 3px;
    background-color: white;
    border: 1px gray solid;
    box-sizing: border-box; }
  .main-subcontainer-1 h2 {
    position: absolute;
    top: 280px;
    left: 200px;
    color: white;
    font-size: 24px; }
  .main-subcontainer-1 .edit-profile {
    display: inline-block;
    float: right;
    margin: -25px 20px 0px 0px;
    height: 30px; }

.main-subcontainer-2 {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #DCDCDC;
  box-sizing: border-box; }
  .main-subcontainer-2 header {
    width: 100%;
    height: 50px;
    background-color: #F6F7F9;
    box-sizing: border-box;
    border-bottom: 1px solid #DCDCDC; }
    .main-subcontainer-2 header h2 {
      font-weight: bold;
      font-size: 28px;
      color: black;
      padding: 10px 0px 0px 400px;
      float: left; }
    .main-subcontainer-2 header input {
      font-weight: bold;
      font-size: 14px;
      color: white;
      float: right;
      margin: 10px 10px 0px 0px;
      background-color: #3B5998;
      padding: 5px; }

.about-info-container {
  height: auto;
  float: left;
  width: 100%;
  background-color: white;
  display: inline-block;
  box-sizing: border-box; }
  .about-info-container .left {
    padding: 0px 10px 0px 10px;
    width: 40%;
    box-sizing: border-box;
    float: left; }
  .about-info-container .right {
    padding: 0px 10px 0px 10px;
    width: 60%;
    box-sizing: border-box;
    float: left; }
  .about-info-container section article {
    width: 100%;
    box-sizing: border-box;
    display: inline-block; }
  .about-info-container h3, .about-info-container p, .about-info-container table {
    display: inline-block;
    padding: 20px;
    box-sizing: border-box; }
  .about-info-container h3 {
    padding-bottom: 0px;
    font-size: 20px;
    font-weight: bold; }
  .about-info-container td {
    font-size: 14px;
    padding-bottom: 15px;
    padding-right: 15px; }
  .about-info-container td:first-child {
    font-weight: bold; }
  .about-info-container p {
    line-height: 130%;
    font-size: 14px; }

/*# sourceMappingURL=styles.css.map */
