$white_text: rgb(255, 255, 255);
$black_text: rgb(0, 0, 0);
$brand_color: rgb(23, 86, 203);
$hover_color: rgb(0, 0, 255);
$login_bckgrnd: rgb(164, 192, 244);
$login_hover: rgb(85, 125, 255);
$form_text_color: rgb(155, 155, 155);
$form_bckgrnd_white: rgb(255, 255, 255);
$text_trans_color: rgba(240, 231, 219, 0.7);
$list_li_color: rgb(85, 85, 85);
$list_span_color: rgb(115, 115, 115);
$nav_bckgrnd_hover: rgb(85, 125, 255);
