header {
	display: inline-flex;
	background-color: #3B5998;
	min-height: 80px;
	width: 100%;
}

ul {
	display: inline-flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.user-pic {
	float: left;
	height: 34px;
	width: 34px;
	text-align: center;
}

.pic-main {
	width: 100%;
	height: 320px;
	object-fit: cover;
	border-right: 2px solid #3B5998;
	border-left: 2px solid #3B5998;
}

.photo {
	position: absolute;
	left: 140px;
	top: 218px;
	height: 200px;
	width: 200px;
	border: 2px solid #3B5998;
}

.nav-bar {
	height: 40px;
	padding-left: 420px;
	border-bottom: 2px solid #3B5998;
}

ul li {
	float: left;
	display: inline-block;
	border-right: 2px solid #3B5998;
	height: 42px;
	padding: 0 20px;

}

.list-first {
	border-left: 2px solid #3b5998;
}

.profile-button {
	float: right;

}

.user {
	float: right;
	padding-right: 60px;
	font-size: x-large;
	color: #FFFFFF;
}

.search-bar input {
	margin-left: 300px;
	width: 50%;
}

.logo a h1 {
	color: #FFFFFF;
	font-size: x-large;
	padding-top: 10px;
	padding-left: 10px;
}

.about-header {
	font-size: 42px;
	border-bottom: 2px solid #3B5998;
	padding-bottom: 20px;
	background: lightgrey;

}

.about-header h2 {
	margin-left: 36%;
}

.left-content {
	float: left;
}

.left-content h2 {
	padding-bottom: 20px;
}

.right-content {
	float: right;
	width: 40%;
	line-height: initial;
}

.right-content h1 {
	padding-bottom: 20px;
}
.right-contendt p {
	padding-bottom: 20px;
}

.left-content h2 {
	font-size: 34px;
}

.birthday span {
	display: inline-flex;
	padding-bottom: 20px;
}

.birthday span p {
	margin-left: 125px;
}

.college span {
	display: inline-flex;
	padding-bottom: 20px;
}

.college span p {
	margin-left: 130px;
}

.hometown span {
	display: inline-flex;
  padding-bottom: 20px;
}

.hometown span p {
	margin-left: 106px;
}

.right-content h1 {
	font-size: 34px;
}

.btm-content {
	margin-top: 24px;
	margin-left: 199px;
	margin-right: 524px;
}