/* ----- Reset Corrections ----- */
	h1 {font-size: 2.25rem; font-weight: 900}
	h2 {font-size: 1.75rem; font-weight: 900}
	h3 {font-size: 1.25rem; font-weight: 900}
	h4 {font-size: 1rem; font-weight: 900}
	h5 {font-size: .75rem; font-weight: 900}
	h6 {font-size: .5rem; font-weight: 900}
/* ----- End Reset Corrections ----- */



/* ----- Font Formation ----- */
	p {
		font-family: 'Open Sans', sans-serif;
		line-height: 1.5;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Open Sans', sans-serif;
		line-height: 1;
	}
/* ----- End Font Formation ----- */



/* ----- Colors ----- */
	.blue {
		background: #256de1;
	}
	.lightblue {
		background: #95BDF7;
	}
	.white {
		color: white;
	}
/* ----- End Colors ----- */



/* ----- Main Classes ----- */
	.block {
		display: block;
	}
	.wide {
		width: 100%;
	}
	.half {
		width: 47.5%;
	}
/* ----- End Main Classes ----- */



/* ----- All Screens Style ----- */


	/* ----- Main Styles ----- */
		a {
			text-decoration: none;
			color: black;
		}
		#about-info-container h3 {
			margin: 1rem auto;
		}
	/* ----- End Main Styles ----- */


/* ----- End All Screens Style ----- */



/* ----- Mobile ----- */
	@media screen and (max-width: 599px) {
		:root {
			font-size: 20px;
		}
	}
/* ----- End Mobile ----- */



/* ----- Tablet ----- */
	@media screen and (min-width: 600px) and (max-width: 989px) {
		:root {
			font-size: 18px;
		}
	}
/* ----- End Tablet ----- */



/* ----- Desktop ----- */
	@media screen and (min-width: 990px) {
		:root {
			font-size: 16px;
		}

		/* ----- Header ----- */
			#page-header {
				color: white;
				padding: .5rem 0rem;
			}
			#page-header div {
				width: 80%;
				margin: auto;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}
			#page-header div input {
				width: 50%;
			}
			#page-header div input:focus {
				outline-color: white;
			}


		/* ----- End Header ----- */
		main {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.section {
			width: 80%;
			border: 2px solid black;
			margin: auto;
		}
		#pic-section {
			
			height: 456px; 
		}
		#bg-img {
			border-bottom: 2px solid black;
			height: 350px;
			background-image: url("assets/images/stadium.jpg");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 2000px 1500px;
			position: relative;
		}
		#profile-img {
			border: 4px solid black;
			height: 200px;
			width: 200px;
			position: relative;
			left: 50px;
			bottom: -200px;
			background-image: url("assets/images/headshot.jpg");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 200px 200px;
		}
		ul:before {
			content: "";
			display: inline-block;
			width: 30vw;
		}
		#pic-section nav {
			height: 106px;
			margin-top: -1px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		#nav-list {
			display: inline-block;
		}
		#nav-list li {
			box-sizing: border-box;
			display: inline-block;
		}
		#nav-list li a {
			border-left: 1px solid black;
			height: 105px;
			line-height: 105px;
			padding: 0rem 1rem;
			display: inline-block;
			transition: background .5s;
		}
		#nav-list li a:hover {
			background: #256de1;
			color: white;
		}
		#nav-list li:last-child {
			border-right: 1px solid black;
		}
		#edit-profile {
			height: 105px;
			line-height: 105px;
			padding: 0rem 1rem;
			color: blue;
			text-decoration: underline;
			margin-top: -1px;
		}	

	/* ----- About Section ----- */
		#about-section {
			margin: 1rem auto;
		}
		#about-section header {
			border-bottom: 2px solid black;
			text-align: center;
			padding: 1rem;
			background: #D8D8D8;
		}
		#about-info-container {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-start;
		}
		#about-info-container section {
			margin: .5rem 1.5rem;
		}


		/* ----- Table Styles ----- */
			table {
				border-collapse: separate;
				border-spacing: 0rem .5rem;
			}
			table th {	
				padding-right: .5rem;
			}
			th {
				font-weight: bold;
				text-align: left;
			}
			th, td {

			}
		/* ----- End Table Styles ----- */

	/* ----- End About Section ----- */


	}
/* ----- End Desktop ----- */
























