html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*=================
Start of Rules after reset
===================*/
html{
	background: linear-gradient(#fcfcfc, #D4D9E9) fixed;
	 -webkit-background-size: cover;
 	 -moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
 	 background-repeat:no-repeat;
	height: 100%;
 }

body {min-width: 1000px;
	
	font-family: Arial, Helvetica;
}

h1{
	font-size:3em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1em;
}

b{
	font-weight: bold;
}
/*
================================
Header
================================
*/
header{
	background-color: #4079DD;
	
	border: 1px solid;
}
.header-home{
	height: 100px;
}
 .main-header{
	
	width: 920.63px;
	height: 40px;
	
	margin: 0 auto;
	display: table;
	


}
.main-header .logo{
	display:inline-block; 
	color: white;
	
	
	width: 185px;
	height: 40px;
	vertical-align: top;
}

.main-header .logo h2{
	display: inline-block;
	position: relative;
	bottom: 3px;
	color: white;
	

}
.main-header .logo img{
position: relative;
top: 50%;
transform: translateY(-50%);
height: 33px;
width: 33px;
border: 1px solid black;
	
	
	
}
.main-header .search{
	width: 670px;
	
	line-height: 40px;
	display: inline-block;


}
.main-header .search input{
	width: 84%;
	height: 23px;
	margin-left: 8%;
	margin-right: 8%

}
.main-header .username{
	
	display: inline-block;
	width: 40px;
	
	height: 35px;
	margin-left: 14px;
	line-height: 40px;
	margin-top: 4px;
	
	color: white;
}
.main-header .username h3{
	font-size: 18px;
}
.prof-banner{
	
	width: 920.63px;
	margin: 0 auto;
	height: 250px;
	border: 1px solid black;
	background-image: url("http://static2.hypable.com/wp-content/uploads/2014/09/Hogwarts-lake.png");
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center 13%;
}
.prof-banner h2{
	position: relative;
	top:55px;
	left: 180px;
	color: white;
}
.prof-banner img{
	position: relative;
	top:120px;
	left:13px;
	border: 1px solid black;
}
/*
================================
Profile Nav
================================
*/
.prof-nav{
	
	width: 920.63px;
	height: 40px;
	background-color: white;
	margin: 0 auto;
	padding-left: 180px;
	border: 1px solid black;


}
.prof-nav li{
	display: inline-block;
	padding-right: 30px;
	padding-left: 30px;
	height: 40px;
	border: 1px solid black;
	border-right:none;
	line-height: 40px;
	text-decoration: none;
	
}
.prof-nav .sndtolast{
	border-right: 1px solid black;
}
.prof-nav a{
	text-decoration: none;
	color: black;
}
.prof-nav li:last-child{
	border:none;
	margin-left: 190px;
	text-decoration: none;
	color: blue;
	margin-right: 0;
	padding-right: 0;

	
}
.prof-nav .edit-prof{
	text-decoration: underline;
	color: blue;
	font-size: 12px;
	line-height: 40px;
}
.prof-nav .edit-prof:hover{
	color: black;
}
/*
================================
Grid Title
================================
*/
.prof-title{
	width:920.63px;
	height: 42px;
	margin:0 auto;
	margin-top: 15px;
	border:1px solid black;
	text-align:center;
	background-color: lightgrey;

}
.prof-title h2{
	
	display: inline-block;
	vertical-align: middle;
	line-height: 40px;
	margin-left:405px;
	
	
	
}
.prof-title button{
	display: inline-block;
	vertical-align: middle;
	margin-left:315px; 
	border:1px solid black;
	color:white;
	background-color: #4079DD;
	box-shadow: 1px 1px 3px black;

}
.prof-title button:hover{
	background-color: #244e96; 
}


	
	

/*
================================
Home page Header
================================
*/
.fbbanner{
	width:60%;
	display: inline-block;
	height: 100px;
	border-right: hidden;
}

.fbbanner h1{
	color:white;
	padding-left: 30px;
	line-height: 100px;
}

.banner-fld{
	max-width: 200px;
	height: 100px;
	margin-top: 0;
	display: inline-block;
	vertical-align: top;
	margin-left: -25px;
	width: 15%;
	color:white;
	padding-top: 20px;
}

.banner-fld2{
	max-width: 200px;
	height: 100px;
	margin-top: 0;
	display: inline-block;
	vertical-align: top;
	margin-left: -25px;
	width: 15%;
	color:white;
	padding-top: 20px;
}

.banner-fld .pass{
	margin-left: 20px;
}

.banner-fld2 p{
	left:60px;
	position: relative;
}

.banner-fld2 input{
	position: relative;
	margin-top: 10px;
	border: 1px solid black;
	height: 25px;
	left:60px;
	top:2px;
}

.banner-fld input{
	position: relative;
	margin-top: 10px;
	border: 1px solid black;
	height: 25px;
	left:40px;
	top:2px;
}

.banner-fld p{
	position: relative;
	left:40px;
	top:2px;
}


.login-btn{
	position: absolute;
	height: 100px;
	margin-left: 53px;
	display: inline-block;
	width: 60px;
	line-height: 100px;
}

.login-btn button{
	position: relative;
	border:1px solid black;
	background-color:#A6C5F4;
	text-align: center; 
	width: 63px;
	max-width: 63px;
	font-size: 1em;
	top:10px;
	box-shadow:inset 0 1px 1px #a9cafc;	
}

.login-btn button:hover{
	background-color:#829fc9;
}
/*
================================
Prof Body
================================
*/
.content-grid{
	width: 920.63px;
	height:400px;
	margin: 0 auto;
	border:1px solid black;
	margin-bottom: 100px;
	
}
.content-grid .grid1-2 {
	width:45%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	
	
}
.content-grid .grid2-2 {
	width:55%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	
}
/*
================================
Body
================================
*/

.intro{
	display: inline-block;
	width:60%;
	min-width: 600px;
	height: 600px;
	text-align: middle;
	padding-top: 150px;
	margin:0 auto;
}

.intro h2{
	font-size: 2.5em;
	text-align: center;
	padding-bottom: 30px;
	color: black;
	word-spacing: 5px;
}

.intro ul {
	list-style-type: inherit; 
	text-align: left;
	font-size: 18px;
	list-style-position: inside;
	line-height: 40px;
	color:#777777;
	margin:auto;
	display: inline-block;
	word-spacing: 5px;
	margin-left: 40px;
}
.intro ul li b{
	font
}

.signup-form{
	float:right;
	width:40%;
	height: calc(100%-100px);
	
	margin:auto;

}
.signup-form h1{
	padding-top: 20px;
	margin-left: 15px;
}
.signup-form .name  { 
	height: 35px;
	border: 1px solid black;
	margin: auto;
	margin-left: 15px;
	margin-top:20px;
	width:170px;
}
.signup-form .fullwidth{
	height: 35px;
	border: 1px solid black;
	margin: auto;
	margin-left: 15px;
	margin-top:20px;
	width: 360px;
}
.birthday{
	margin-top: 30px;
	height:70px;
	height: 100px;
	width: 400px;
}

.birthday h3{
	display: relative;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 15px;
}

.birthday select{
	display: inline-block;
	margin-left: 15px;
}

.birthday p{
	display: inline-block;
	position: relative;
	top:35px;
	left:-240px;
}

.birthday input{
	display: inline;
	position: relative;
	top:35px;
	left:-240px;
}

.signup-form button{
	border:1px solid black;
	margin-left:15px;
	width:360px;
	height:35px;
	color:white;
	background:linear-gradient(#5ebc38, #4D9A30);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px #a4e388;
	font-weight: bold;
	font-size: 16px;
}

.signup-form button:hover{
background:linear-gradient(#68cc3d, #4D9A30);
}
/*
================================
Body Content
================================
*/

.grid1-2 table{
	margin:0 auto;
	text-align: left;


}
.grid1-2 tr td{
	padding:13px;
	text-align: left;
}
.grid1-2 th{
	padding-top: 20px;
	padding-bottom: 15px;
}
.grid2-2 {
	
	display: none;

}
.grid2-2 p{
	padding-top: 20px;
	margin-right: 50px;
}
.grid2-2 h2{
	padding-top: 20px;
}











