

.login {
  height: 83px;
  width: 100%;
  background-color: #3B5998;
  color: #FFFFFF;
  display: inline-block;


}

.login p {
  font-size: 1.7em;
  padding-left: 280px;
  padding-top: 29px;
  width: 350px;
  margin: 0;

}

.login input, label {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 0px;


}

.login button {

}

.thank-you {
  display: inline-block;
  height: auto;
  padding-left: 280px;
  padding-top: 15px;
}

.sign-up {
  display: inline-block;
  float: right;
  width: 650px;
  height: auto;
  padding-right: 80px;
  padding-top: 15px;
  text-align: left;
}

.sign-up h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.sign-up h2 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.sign-up input {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
  display: inline-block;

}

.sign-up button {
  width: 200px;
  height: 40px;
  background-color: green;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
}
