/*
  ===================
  Clearfix
  ===================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ===================
  Positioning
  ===================
*/

html,
body {
  height: auto;
  width: auto;
}

header {
  height: 2%;
  width: auto;
}

#main-title {
  float: left;
  width: 63%;
  margin: 2% 0 2% 1%;
}

#login {
  float: right;
  width: 30%;
  margin: 2% 2% 1% 0;
}

main {
  margin: 0 4%;
}

#description {
  float: left;
  width: 63%;
  margin: 10% 2% 0 2%;
}

#cta {
  float: right;
  width: 30%;
  margin: 1% .5%;
}

#cta > h1 {
  margin: .5em 0;
}

input {
  margin: 0 1em 1em 0;
}

input[name="login-email"],
input[name="login-password"],
input[name="signup"] {
  margin-top: .5em;
}

.selector {
  margin: 0 1em 0 0;
}

label > select {
  display: inline-block;
  margin: .5em;
}

input[name="email"],
input[name="password"],
input[name="confirm-password"],
input[name="signup"] {
  display: block;
  width: 271px;
}

ul {
  margin-left: 10%;
}

/*
  ===================
  Typography
  ===================
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

header {
  color: #fff;
}

h1 {
  font-size: 2em;
  margin-bottom: .5em;
}

label {
  display: inline-block;
  font-size: small;
}

label.bold {
  font-size: 16px;
  font-weight: 600;
  margin: .5em 0em;
  display: block;
}

li {
  list-style-type: disc;
  line-height: 3em;
}

header {
  background-color: #3b5998;
  border-bottom: 2px solid #000;
}

input[name="submit"] {
  background-color: #ADD8E6;
  font-weight: 700;
  box-shadow: 2px 2px 2px #000;
}

input[name="signup"] {
  padding: 10px;
  background-color: green;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 3px 3px 3px #000;
}
