*{
	box-sizing: border-box;
	margin: 0;
	font-family: 'Patrick Hand', cursive;
}

header{
	background: #215dc5;
	padding: 2%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

form{
	margin: 0 1.1rem;
}

header h1{
	align-self: center;
}

header form {
	display: inherit;
}
 
header form label{
	display: block;
	margin: 0 10px;
}

header form label input{
	display: block;
}


.container{
	display: flex;
	margin-top: 2%;
}

aside{
	width: 85%;
}

aside h1{
	text-align: center;
	font-size: 2.2rem;
}

.list-items{
	width: 63%;
	margin: 0 auto;
	font-size: 20px;
}

.list-items ul{
	margin-left: 29px;
	line-height: 2.5;
}

fieldset{
	border: 0;
}

legend{
	font-size: 25px;
}