
*{
	box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

.header{
	background-color: blue;
	color: white;
	width:100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	align-items: center;
}

.header h1{
	margin: 0;
}

.header button{
	background-color: #6699ff;
}

.login label{
	display: block;
}

.login{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.login button{
	display: block;
}

.email-container,
.password-container{
	margin: 0 5px;
}

/*********************************** 
Page content
************************************/

.main-container{
	display: flex;
	padding: 30px;
	margin:0 50px 0 39px;
	justify-content: space-between;
}

/*********************************** 
Page summary/description
************************************/

.page-summary{
	width: 100%;
	padding: 30px;
}

.page-summary ul li{
	padding: 15px;
	font-size: 20px
}

/*********************************** 
Sign up new user components
************************************/

.names{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.first-name {
	margin-right: 5px;
}


.conf-password, .password-signup, .email-signup{
	display: block;
	width: 100%;
	margin-bottom: 15px;
}



.sign-up-form button{
	display: block;
	color: white;
	background-color: green;
	width: 100%;
}


.sign-up-form .gender-container {
	display: block;
	margin: 20px 0px;
}

/**********************************************************************
Styling for the About page
***********************************************************************/

.header-one{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.search-users{
	margin-left: 10px;
	width: 900px;
}

.main-image{
	display: flex;
	justify-content: center;
}

.banner{
	margin: 0 120px;
	display: flex;
	justify-content: space-between;
	align-contents: center;
}

.dummy{
	/*width: 70px;*/
	/*height: 20px;*/
	border: 1px solid black;
	padding: 10px 20px;
}

.main-functions{
	/*padding: 10px 20px;*/
}

.main-functions a{
	text-decoration: none;
	border: 1px solid black;
	/*padding: 10px 20px;*/
}

.edit-profile{
	padding: 10px 20px;
	border: 1px solid black;
	/*display: flex;
	justify-content: space-between;
	justify-content: flex-end;*/
}

.main-content-header{
	margin: 0 30px 0 30px;
	display: flex;
	justify-content: center;
}

