body {
	margin: 0;
	padding: 0;
}
.header {
	background: #2B78E4;
	height: 150px;
	display: block;
}

.name {
	float: left;
	color: #ffffff;
}

.menu-login {
	float:right;
}

.column-1 {
	float: left;
}

.column-2 {
	float: right;
}

.email-btn {
	width: 377px;
}

.email-2-btn {
	width: 377px;
}

.email-3-btn {
	width: 377px;
}

label {
	color: #ffffff;
}

