
*{
	box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
}

.header{
	background-color: blue;
	color: white;
	width:100%;
	display: flex;
	/*justify-content: space-between;*/
	justify-content: flex-start;
	padding: 20px;
	align-items: center;
}

.header h1{
	margin: 0;
}

.header button{
	background-color: #6699ff;
}

.login label{
	display: block;
}

.login{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	/*vertical-align: bottom;*/
}

.login button{
	display: block;
}

.email-container,
.password-container{
	margin: 0 5px;
}

/*********************************** 
Page content
************************************/

.main-container{
	display: flex;
	padding: 30px;
	margin:0 50px 0 39px;
	justify-content: space-between;
}

/*********************************** 
Page summary/description
************************************/

.page-summary{
	width: 100%;
	padding: 30px;
}

.page-summary ul li{
	padding: 15px;
	font-size: 20px
}

/*********************************** 
Sign up new user components
************************************/

.names{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}


.conf-password, .password-signup, .email-signup{
	display: block;
	width: 100%;
	margin-bottom: 15px;
}



.sign-up-form button{
	display: block;
	color: white;
	background-color: green;
	width: 100%;
}


.sign-up-form .gender-container {
	display: block;
	margin: 20px 0px;
}

