/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body * {
  border: 0.5px dashed #444;
}

.grid {
  width: 1000px;
  margin: 0 auto;
}

.col-30-100 {
  width: 30%;
  border-right: 2px solid #333;
}

.col-40-100 {
  width:39%;
}

.col-60-100 {
  width: 59%;
}

.col-20-100,
.col-40-100,
.col-60-100 {
  display: inline-block;
  vertical-align: top;

}

body {
  font-family: Helvetica;
}

h1 {
  font: bold 36px/48px Helvetica, arial, sans-serif;
}

h2 {
    font: bold 30px/42px Helvetica, arial, sans-serif;
}
h3 {
      font: bold 24px/36px Helvetica, arial, sans-serif;
}

h4 {
      font: bold 18px/24px Helvetica, arial, sans-serif;
}


h6 {
    font: bold 12px/18px Helvetica, arial, sans-serif;
}

p {
      font: 400 13px/18px Helvetica, arial, sans-serif;
}

/*
----------------------------------------------------------
HOME PAGE
=============================
*/
.home-navbar {
  height: 70px;
  background: #3B5998;
  color: #fff;
  padding: 0 60px 0 40px;
  line-height: 80px;
}

.home-logo-container {
  width: 200px;
  display: inline-block;
}
.login-container,
.login-container fieldset {
  display: inline-block;
  float: right;
  height: 70px;
}

.login-container input {
  margin: 0;
  padding-left: 2px;
  width: 170px;
  font: bold 12px/18px Helvetica, arial, sans-serif;
  border: 2px solid #000;
}

.login-container label {
  display: inline-block;
  line-height: 25px;
}

.home-navbar .btn {
  background: #3B99ff;
  width: 80px;
  border: 2px solid #000;
}

/* LEFT SECTION*/

.home-text {
  margin: 70px auto;
  display: inline-block;
}

.home-text ul {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 17px;
  line-height: 35px;
  color: #999;
  margin-left: 40px;
  padding-top: 15px;
}

.home-text li {
  padding-top: 10px
}


/* SIGN UP SECTION*/
.col-40-100 input {
  font-size: 15px;
  border: 2px solid gray;
  padding: 3px;
  margin: 8px 3px;
}

.col-40-100 input:nth-child(n+3) {
  width: 354px;
}
.col-40-100 h1 {
  margin-top: 30px;
}

.col-40-100 h4 {
  margin-top: 20px;
}

.col-40-100 select {
  font-size: 15px;
  padding: 2px;
  margin: 6px 3px;
}

.radio {
  display: block;
  font-size: 12px;
}

.btn-signup {
  border: 2px solid #000;
  color: #fff;
  background: #33aa44;
  font-size: 1.4em !important;
  font-weight: bold;
  height: 40px;
  width: 364px;
}



/*
----------------------------------------------------------
ABOUT PAGE
=============================
*/

.grid2 {
  width: 1100px;
  margin: 40px auto 0 auto;
  display: block;
}

.navbar {
  height: 40px;
  background: #3B5998;
  color: #fff;
  line-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar img {
  display: inline-block;
  width: 30px;
  background: #fff;
  vertical-align: middle;
}

.logo-container {
  line-height: 40px;
  font-size: 25px;
  line-height: 40px;
  float: left;
  padding-left: 80px;
  color: white;
  }

.searchbar-container {
  position: absolute;
  left: 300px;
  margin: 0 auto;
}

.searchbar {
  font-size: 16px;
  width: 700px;
  padding: 3px;
}

.login-container {
  float: right;
  padding-right: 80px;
  line-height: 40px;
  color: white;
  height: 40px;
}

a {
  text-decoration: none;
}

.about-img {
  width: 100%;
  height:350px;
  background: url("Harry_Potter.jpg") no-repeat;
  position: relative;
}

.profile-img img {
  width: 160px;
  height: 160px;
  position: absolute;
  bottom: -30px;
  left: 20px;
  border: 5px solid #666;
  z-index: 80;
}

.about-img h2 {
  color: white;
  position: absolute;
  bottom: 5px;
  left: 200px;
}

/*
----------------------------------------------------------
PROFILE NAVBAR
=============================
*/

.profile-navbar {
  border: 3px solid #222;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
}

.profile-navbar ul {
  padding-left: 206px;
  font-weight: bold;
}

.profile-navbar li {
  float:left;
}

.profile-navbar li a {
display: block;
height: 50px;
line-height: 50px;
font-size: 15px;
min-width: 50px;
padding: 0 15px;
border-left: 2px solid black;
cursor: pointer;
color: #333;
}

.profile-navbar li a:hover {
  background: #ccc;
}

.profile-navbar li a:active {
  background: #444;
}

.profile-navbar li:last-child {
  border-right: 2px solid black;
}

.profile-navbar .edit-profile {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 50px;
  font-size: 14px;
  padding-right: 20px;
}
.profile-navbar .edit-profile a {
  color: #3355dd;
}


.profile-navbar h5 {
  color: #666;
  display: inline;
  padding-left: 3px;
  font-weight: 300;
}

/*
----------------------------------------------------------
ABOUT - INFO SECTION
=============================
*/

.section-navbar {
  border-bottom: 2px solid #222;
  height: 50px;
  position: relative;
  background: #ddd;
  text-align: center;
}

.section-navbar h2 {
  text-align: center;
  line-height: 50px;
}

.btn-profile {
  width: 130px;
  height: 25px;
  border: 2px solid #000;
  background: #3355dd;
  color: white;
  position: absolute;
  top: 7px;
  right: 20px;
  line-height: 25px;
}

table caption {
  text-align: left;
}
table {
  font-size: 14px;
  margin: 50px auto;
  width: 350px;
}
table th {
  font-weight: bold;
  text-align: left;
}

table td{
  padding-top: 10px;
  padding-left: 10px;
}

.section-about-right {
  width: 480px;
  margin: 50px auto;
  text-align: justify;
}

.section-about-right h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.about {
  border: 2px solid #222;
  margin-bottom: 30px;
}


/*
----------------------------------------------------------
FRIENDS
=============================
*/

.section-friends {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;

}

.friends-box {
  width: 480px;
  height: 100px;
  padding: 12px;
  float: left;
  line-height: 100px;
  border: 2px solid #333;
  margin: 25px 20px 0 20px;
  position: relative;
}

.friends-box:nth-child(odd) {
  margin-right: 10px;
  }

.friends-box img {
    height: 90px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 3px;
}

.friend-name {
  width: 170px;
  position: absolute;
  left: 140px;
  top: 47px;
  font-weight: 400;
  height: 35px;
  line-height: 20px;
  font-size: 15px;
  color: #666;
}

.friend-name a {
  text-decoration: underline;
  display: block;
  font-size: 15px;
  line-height: 13px;
}

.btn-unfriend {
  width: 120px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 51px;
  border: 3px solid #333;
  line-height: 20px;
  text-align: center;
  background: #ccc;
  font-weight: bold;
  font-size: 13px;
  color: black;
}

.btn-unfriend:hover {
  color: white;
}



/*
----------------------------------------------------------
NEWSFEED - CHAT SIDE
=============================
*/


.newsfeed-page {
  width: 99%;
  display: block;
}






.grid-60 {
  width: 600px;
  margin: 0 auto;
  display: inline-block;
}
