/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/* Page defined CSS */

body {
  font-family: helvetica;

}

main {
  margin: 60px 0 0 20px;
  width: 100%;
  height: 100%;
}

.loginform input, label {
  display: block;
}
.logo {
  float: left;
}

.loginform {

  float: right;
  margin-right: 20px;
  font-size: 18px;
}



.button1 {
    background-color: #9BC2FB;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 17px 2px;
    cursor: pointer;
}

.button2 {
    background-color: #00A80D;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    padding-left: 200px;
    padding-right: 200px;
}

#facelook {
  font-size: 40px;
  margin-left: 20px;
}
nav {
  height: 80px;
  width: 100%;
  background-color: #2b6ee8;
  position: fixed;
  padding-top: 20px;
  padding-left: 10px;
  top: 0;
  left: 0;
  border-bottom: 2px solid;
  
  color: white;
  
}

.navcontent {
  margin-top: 20px;
  float: left;
}

nav p {
  width: max-content;
}



li {
  margin-bottom: 15px;
}
.main-content {
  width: 100%
  height: 100%;
}

.left-side {
  margin-top: 10%;
  margin-left:10%;
  width: 40%;
  height: auto;
  float: left;
}

.right-side {
  margin: 80px 20px 20px 20px;
  width: 40%;
  height: auto;
  float: right;

}

form.name-input  input{
  display: block;
  margin-bottom: 20px;
}

#firstname {
  float: left;
  margin-right: 20px;
}

form.gender input, label{
  margin: auto;
  display: inline;
  padding-right:20px;
  
}

#birthdate {
  margin-top: 15px;
  margin-bottom: 20px;
}




footer {
  height: 90px;
  width: 90%;
  background: #9FC5F8;
  border: 2px solid;
  border-radius: 25px;
  line-height: 1.25em;
  box-sizing: border-box;
  padding: 10px;
}

@media only screen and (max-width: 990px) {
  aside {
    display: none;
  }

  main {
    margin-left: 0;
    margin-right: 0;
  }

  footer {
    width: 100%;
    border-radius: 0;
  }

  #posts {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #post3, #post1, #post2 {
    flex-grow: 1;
  }

 }










