@import url('https://fonts.googleapis.com/css?family=Quicksand:500');
/* CSS reset */

html, html * {
	margin: 0; 
	padding: 0;
	border: 0; 
	outline: 0; 
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
	background: transparent; 
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
} 

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
 } 
 
/* ..................End of CSS reset................... */

/* ... Top banners for both pages ... */ 
#banner_lp, #banner_ab {
	width: 100%;
	background-color: rgb(23, 86, 203);
	border-bottom: 1px solid rgb(20, 20, 20);
}

#banner_lp {
	height: 85px;
}

#banner_ab {
	height: 50px;
} 

/* ...Interior content of top banners both pages...*/
#banner_lp_head, #banner_ab_head {
	width: 990px;
	margin: auto;
	height: inherit;
	color: rgb(255, 255, 255);
	position: relative;
}

#banner_lp_head p, #site_name {                      
	font-family: "Quicksand", sans-serif;
	font-weight: 600;
}

#banner_lp_head p {                                  
	font-size: 42px;
	top: 35%;
	position: absolute;
}

#banner_lp_form {
	float: right;
}

#banner_lp_form #p_email, #banner_lp_form #p_password {                         
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-top: -5px;
	display: inline-block;
}

#password, #email {
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	width: 150px;
	height: 20px;
	margin: 45px 15px 0 0;
	font-size: 14px;
	padding: 3px;
}

#password:focus, #email:focus, #search:focus {
	outline: 2px solid lightblue;
}

#login {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	width: 70px;
	height: 25px;
	padding-bottom: 1px;
	background-color: rgb(164, 192, 244); 
	text-align: center;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	box-shadow: 2px 2px black;
}

#login:hover {
	background-color: rgb(85, 125, 255);
}

#site_name, #banner_ab_form, #banner_ab_name {
	display: inline-block;
} 

#avatar {
	 top: 14%;
	 position: absolute;
}

#site_name {
	font-size: 24px;
	margin-left: 50px; 
	line-height: 50px;
	position: absolute;
}

#banner_ab_name {
	font-size: 18px;
	font-weight: 600;
	font-family: sans-serif;
	line-height: 50px; 
	float: right; 
}

#banner_ab_form #search {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: rgb(155, 155, 155);
	width: 550px;
	height: 30px;
	margin-left: 190px;
	margin-top: 10px;
	padding-left: 5px;
	background-color: rgb(255, 255, 255); 
	border: 1px solid rgb(0, 0, 0);
}

/* ...Main section ...*/
main.fl {
	width: 990px;
	font-family: sans-serif;
	margin: auto;
}

/* ...Main landing page - list... */
#main_lp_list {
	float: left;
}
#main_lp_list h2 {
	font-size: 28px;
	font-weight: 600;
	margin: 85px 0 0.9em 30px;
}

#main_lp_list ul {
	margin: 0 0 0 42px;
}

#main_lp_list li {
	list-style-type: none;
	font-size: 16px;
	font-weight: 600;
	padding-left: 1.5em;
	line-height: 2.5em; 
	color: rgb(85, 85, 85);
}

#main_lp_list li span {
	font-size: 14px;
	font-weight: 400;
	padding-left: 8px;
	color: rgb(115, 115, 115);
}

#main_lp_list li:before {
	content: ".";
	padding-right: 1.0em;
	position: relative;
	vertical-align: 11%;
}

/* ...Main landing page - form ...*/
#main_form {
	float: right;
	margin-right: 30px;
	margin-top: 5px;
}

#p_1 {
	font-size: 42px;
	margin-top: 25px;
	margin-right: 278wwwpx;
}

#f_name, #l_name, #new_email, #new_password, #conf_password {
	margin-top: 25px;
	margin-left: 2px;
	font-size: 14px;
	color: rgb(155, 155, 155);
	border: 1px solid rgb(155, 155, 155);
	background-color: rgb(255, 255, 255);
	height: 20px;
	padding: 3px 0 3px 5px;
	border-radius: 2px;
}

#f_name, #l_name {
	width: 150px;
	margin-right: 10px;
}

#new_email, #new_password, #conf_password {
	width: 325px;
}

#f_name:focus, #l_name:focus, #new_email:focus, #new_password:focus, #conf_password:focus {
	outline: 2px solid lightblue;
}

#new_email, #new_password, #conf_password {
	width: 322px;
}  

/* ...Birthday input... */ 
#p_2 {
	margin-top: 30px;
	margin-left: 2px;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px;
}

#month, #day, #year {                 
	font-size: 14px;
	color: rgb(155, 155, 155);
	border: 1px solid rgb(50, 50, 50);
	height: 25px;
	padding: 3px 0 3px 3px;
	margin-right: 10px;
}

select:focus { 
	outline: 2px solid lightblue;
} 

/* ...Gender input buttons... */
.gender {
	margin-top: 25px;
}

#signup_form span, #contain_1 {
	font-size: 14px;
	display: inline-block;
	margin-left: 5px;
}

#contain_1 {
	margin-left: 20px;
} 

/* ...Sign Up button... */
#signup_btn {
	width: 322px;
	height: 30px;
	border: 1px solid black;
	box-shadow: 2px 2px black;
	background-image: linear-gradient(rgb(40, 200, 40), rgb(0, 150, 0));
	margin-top: 25px;
}

#signup_btn:hover {
	background-image: linear-gradient(rgb(90, 255, 90), rgb(20, 165, 20));
}

#signup_btn strong {
	font-size: 20px;
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px black;
}

/* ...About page - top ...*/
#main_ab_top {
	width: inherit;
	height: 380px;
	background: url(small_avatar.gif) no-repeat, url(old_london.jpg) no-repeat ;
	background-origin: padding-box, padding-box;
	background-size: 150px, 100% 86%;
	background-position: 20px 205px, 0 0;
	position: relative;
}

#main_ab_top p {
	font-size: 24px;
	font-weight: 600;
	background-color: rgba(240, 231, 219, 0.7);
	padding: 6px 8px 10px 10px;
	border-radius: 4px;
	position: absolute;
	top: 287px;
	left: 170px;
}

#main_ab_top ul {
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	top: 90.6%;
}

#main_ab_top li {
	display: inline-block;
}

#main_ab_top a.first {
	border-width: 0px 0 1px 1px; 
	border-style: solid;
	border-color: black; 
	padding: 16px 190px 16px 0;
	margin-right: -5px;
}

#main_ab_top a:not(.last):not(.first) {
	text-decoration: none;
	color: rgb(0, 0, 0);
	border-width: 0px 0 1px 1px; 
	border-style: solid;
	border-color: black; 
	padding: 16px 60px 16px 15px;
	margin-right: -5px;
}

#main_ab_top a.last {
	border-width: 0px 1px 1px 1px; 
	border-style: solid;
	border-color: black; 
	padding: 16px 10px 16px 15.6866em; 
	
}

#main_ab_top a.last:hover {
	color: rgb(0, 0, 255);
}

#main_ab_top a:hover:not(.last):not(.first) {
	background-color: rgb(85, 125, 255);
	text-shadow: 1px 1px 2px rgb(200, 200, 200);
}

#main_ab_bottom {
	margin-top: 10px;
	padding-bottom: 50px;
	border: 1px solid rgb(0, 0, 0);
}

#main_ab_bottom #about {
	margin: auto;
    border-bottom: 1px solid rgb(0, 0, 0);
    position: relative;
}

#about h2 {
	height: 47px;
	font-size: 26px;
	font-weight: 600;
	line-height: 47px;
	text-align: center; 
}

#main_ab_bottom a {
	font-size: 14px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	text-decoration: none;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	box-shadow: 2px 2px black;
	background-color: rgb(21, 78, 183);
	padding: 4px 4px 2px 4px;
	position: absolute;
	left: 88%;
	top: 28%;
}

#basic_info, #contact_info {
	margin-top: 30px;
	margin-left: 60px;
	float: left;
}

#contact_info {
	clear: left;
}

#basic_info caption, #contact_info caption, #words_live h2 {
	text-align: left;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

#basic_info td, #contact_info td {
	font-size: 14px;
	padding-bottom: 1.6em;
}

#basic_info td:first-child {
	font-weight: 600;
	padding-right: 10px;
}

#contact_info td:first-child {
	font-weight: 600;
	padding-right: 43px;
}

#words_live {
	margin: 30px 60px 40px 450px;
}

#words_live p {
	font-size: 14px;
	line-height: 1.5em;
	margin-top: 20px;
}

#words_live #h2 {
	margin-top: 25px;
	margin-bottom: 1em;
}
