.Rectangle {
position: static;
width: 100%;
height: 75px;
background-color: blue;
border: 1px solid black;
}

.Heading {
color: white;
padding-left: 2%;
font-weight: bold;
font-size: 200%;
position: static;
margin-top: 1%;
font-family: "Lucida Grande",arial,sans-serif;
}

.Entry {
  position: relative;
  left: 61%;
  top: -48px;
  color: white;
}

.Entry2 {
  position: relative;
  left: 76%;
  top: -72px;
  color: white;
}

input[value="Log In"] {
  position: relative;
  left: 93%;
  top: -94px;
  background-color: lightblue;
  border: 1px solid black;
}

input[value="Sign Up!"] {
  background-color: green;
  color: white;
  border: 1px solid black;
  width: 32%;
  font-size: 143%;
}

.Connect {
  letter-spacing: 4px;
  line-height: 250%;
  position: absolute;
  top: 27%;
  left: 5%;
  font-family: "Lucida Grande",arial,sans-serif;
}

.Birthday {
  position: absolute;
  top: 265px;
  float: right;
  width: 109%;
}

h4 {
  position: absolute;
  top: 72.5%;
}

h1 {
  font-family: "Lucida Grande",arial,sans-serif;
  letter-spacing: 2px;
  font-size: 270%;
}

.SignUp {
padding-right: 17%;
line-height: 279%;
position: relative;
left: 60%;
top: -35px;
}

input[name="First Name"], input[name="Last Name"]  {
  width: 20%;
}

input[name="Confirm Password"], input[name="Your Email"], input[name="Your New Password"] {
  width: 42%;
}

input[name="First Name"] {
  margin-right: 1%;
}

#GreenButton {
  color: black;
  position: relative;
  left: 70%;
  font-size: 10px;
}
