/* RESET EVERYTHING */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  font-family: arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET COMPLETE */

#homepageHeader{
	width: 100%;
	height: 80px;
	background-color: #3D5B99;
	position: absolute;
	top: 0px;
}

div.homepage-container{
	height: 80px;
	width: 980px;
	padding-left: calc((100% - 980px) / 2);
	padding-right: calc((100% - 980px) / 2);
	position: absolute;
	box-sizing: content-box;
}

#fbTitle{
	float: left;
	font-size: 40px;
	font-weight: bold;
	color: white;
	width: 400px;
	padding-bottom: 20px;
	padding-top: 20px;
	box-sizing: border-box;
}

div.log-in-div{
	float: right;
	left: 590px;
	width: 400px;
	height: 80px;
	padding-top: 15px;
}

p.form-text{
	font-size: 12px;
	color: white;
	padding-bottom: 5px;
	padding-left: 20px;
}

input.loginInfo{
	width: 150px;
	margin-left: 20px;
	background-color: white;
}

input.login{
	background-color: #4267B2;
	width: 50px;
	margin-left: 20px;
	color: white;
	font-weight: bold;
	align-content: center;
	border: 1px solid black;
	border-radius: 1px;
}


#fbHPlowerbox{
	width: 980px;
	padding-left: calc((100% - 980px) / 2);
	padding-right: calc((100% - 980px) / 2);
	background-color: #EDF0F5;
	height: 600px;
	position: absolute;
	top: 80px;
	box-sizing: content-box;
}

div.left-box{
	float: left;
	overflow: auto;
	width: 565px;

}

#connect-with-friends-text{
	padding-top: 50px;
	padding-bottom: 30px;
	width: 410px;
	height: auto;
	font-size: 28px;
}

article.homepage-info{
	border-top: 20px;
	width: 100%;
	clear: left;
	padding-bottom: 10px;
	padding-top: 20px;
}

img.homepagePic{
	float: left;
	margin-bottom: 10px;
	width: 55;
	height: auto;
}

section.homepage-left-info{
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

h3.homepage-left-text{
	font-size: 16px;
	float: left;
	font-weight: bold;
	color: black;
}

h5.homepage-right-text{
	margin-left: 10px;
	float: left;
	color: gray;
	font-size: 16px;
}

div.right-box{
	float: right;
	width: 400px;
}

#homepage-sign-up{
	font-size: 32px;
	padding-bottom: 5px;
	padding-top: 20px;
	font-weight: bold;
}

#homepage-below-sign-up{
	font-size: 16px;
	padding-bottom: 20px;
}

section.homepage-right-bottom-box{
	position: absolute;
	top: 90px;
	width: 400px;
}

input.sign-up-input{
	height: 40px;
	border-radius: 10px;
	border: 2px solid gray;
	box-sizing: border-box;
	font-size: 24px;
}

input.wide-input{
	width: 100%;
	float: left;
	margin-top: 10px;
}

input.short-input{
	width: 195px;
}

#last-name-input{
	float: right;
}

#input-birthday{
	padding-top: 25px;
	padding-bottom: 10px;
	float: left;
	width: 100%;
	font-size: 24px;
}

form.input-birthday-select{
	width: 100%;
	float: left;
}

select {
	padding: 5px;
	margin: 0px;
	float: left;
	font-style: 16px;
	background-color: #DDD;
}

ul.gender{
	width: 100%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
}

ul.gender li.gender label.gender{
	padding: 10px;
	padding-top: 0px;
	float: left;
	font-size: 16px;
}

input.gender{
	float: left;
}

label.gender{
	font-size: 24px;
}

#create-account{
	background-color: #609C4D;
	color: white;
	font-size: 20px;
	padding: 10px 25px;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid gray;
}
