body {
	margin: 0;
	padding: 0;
}
.header {
	background: #2B78E4;
	height: 150px;
	display: block;
	border-bottom: 2px solid;
}

.name {
	float: left;
	color: #ffffff;
	font-size: 30px;
}
.name h1 {
	padding-left: 65px;
}

.menu-login {
	float:right;
	margin-right: 170px;
	margin-top: 60px;
}

.column-1 {
	float: left;
	padding-left: 200px
}

.column-2 {
	float: right;
	padding-right: 350px;

}

.email-btn {
	width: 377px;
}

.email-2-btn {
	width: 377px;
}

.email-3-btn {
	width: 377px;
}

.signup-btn {
	background-color: #239E0F;
	font-size: 15px;
	width: 50%;
}

.signup-btn p {
	color: #ffffff;
}

label {
	color: #ffffff;
}

.column-1 p {
	color: #737373;
}


.email {
	padding-bottom: 20px;
}

.password {
	padding-bottom: 20px;
}

.user-name {
	padding-bottom: 20px;
}