header {
	background: #2B78E4;
	height: 150px;
}
.title-bar {
	padding-top: 1px;
}



.nav-form {
	

}

.face {
	color: #ffffff;
	font-weight: 100;
	padding-left: 60px;
	float:left;
	font-size: 71px
}

.login-form {
	float: right;
}
