html {
    max-width: 990px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}


.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
  clear: both;
}


h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    font-weight: 700;
}

h3 {
    font-size: 115%;
}

nav { 
    height: 75px;
    background-color: #6681cb;
    width: 100%;
}

.title {
    color: #fff;
    padding-top: 25px;
    float: left;
}

.title,
.left h2 {
    padding-left: 25px;
}

.login {
    float: right;
    padding-top: 20px;
    padding-right: 25px; 
}

.nav-text {
    color: #fff;
}

.login-table td {
    padding: 2px 5px 0px 5px;
}

.left {
    width: 610px;
    float: left; 
    margin-top: 75px;
}

.features-list {
    margin-top: 15px;
    margin-left: 75px;
    list-style-type: disc;
}

.features-list li {
    padding: 10px 0;
}

span {
    font-weight: bold;
}

.right {
    width: 380px;
    float: right;
}

.sign-up {
    margin: 40px 0 15px 10px;
}


.sign-up-form {
    width: 370px;
    margin-top: 10px;
}

.sign-up-form table {
    width: 100%;
}

.sign-up-form tr {
    line-height: 35px;
}
.full {
    width: 370px
}

.half {
    width: 185px;
}

.submit-btn {
    background-color: #5591c4;
    border-radius: 2px;
}

.submit-btn,
.sign-up-btn {
    color: #fff;
}

.sign-up-btn {
    font-size: 20px;
    vertical-align: center;
    height: 30px;
    width: 370px;
    border: 2px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: #27b442;
}










