body {
  font-family: Helvetica;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #3B5998;
  border-bottom: 1px solid #1d2a5b;
}

.header h1 {
  color: white;
  font-size: 42px;
  font-weight: bold;
  display: inline-block;
  margin-left: 40px;
  width: 30%;
  line-height: 80px;
}

.header table {
  display: inline-block;
  width: 35%;
  color: white;
  margin-left: 400px;
}

.header table td {
  padding-right: 10px;
  padding-top: 3px;
}

input.login {
  width: 60px;
  height: 24px;
  background-color: #365899;
  color: white;
  font-weight: bold;
  border: 1px solid #333;
}

input.textinput {
  padding: 2px;
  border: 1px solid #1d2a5b;
  width: 142px;
  font-size: 12px;
  display: inline-block;
}

.info {
  display: inline-block;
  width: 55%;
  padding: 100px 70px;
}
.info h3 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.info ul {
  list-style-type: disc;
  color: #737373;
  font-size: 22px;
  margin-left: 50px;
}
.info ul li {
  padding: 15px;
}
.info ul li .strong {
  font-weight: bold;
}
.form {
  display: inline-block;
  width: 45%;
}