body {
	font-family: 'Freight Sans', Helvetica, Arial, sans-serif;
}

header {
	width: 100%;
	height: 100px;
	background-color: #27438B;
	color: white;
	box-sizing: border-box;
	padding: 50px;
	margin-bottom: 40px;
}

header h1 {
	font-size: 40px;
	font-weight: bold;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

header form {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

header td, th {
	padding: 5px;
	text-align: left;
}

.btn {
	color: white;
	border-radius: 3px;
	border: 1px solid white;
}

.btn_login {
	background-color: #2B4FA9;
	font-size: 0.8em;
}

.btn_login:hover {
	background-color: #8EB7F7;
	color: black;
	cursor: pointer;
}

main {
	max-width: 990px;
	margin: 0 auto;
	display: flex;
}

.info {
	width: 50%;
	margin-top: 50px;
	margin-right: 100px;
}

.info h2 {
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

.info ul {
	list-style-type: square;	
}

.info li {
	padding: 10px;
	margin-left: 40px;
}

.signup {
	width: 50%;
}

.signup h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.signup input[type="text"] {
	margin: 5px;
	height: 20px;
	width: 140px;
}

.signup input[type="email"],
.signup input[type="password"] {
	width: 300px;
	height: 20px;
	margin: 5px;
}

.signup .birthday_form {
	margin-top: 20px;
	margin-left: 5px;
}

.signup .birthday_form .birthday {
	font-size: 0.9em;
	font-weight: bold;
}

.signup .birthday_form select {
	margin-top: 10px;
	margin-right: 10px;
}

.signup .gender_form label {
	margin-right: 10px;
}

.signup .gender_form .gender {
	font-size: 0.8em;
}

.signup .btn_signup {
	background-color: #387E2B;
	font-size: 1em;
	font-weight: bold;
	width: 300px;
	height: 30px;
}

.signup .btn_signup:hover {
	background-color: #38AE2B;
	cursor: pointer;
}

