/** Table of Contents

0 - CSS Reset
1 - Globlals & Custom Variables
2 - Home Page
2.1 - Title Bar and Sign-In form
2.2 - Welcome Message
2.3 - Sign-Up form
3 - About Page
3.1 - Page Header (reused across logged-in pages)
3.2 - Profile Banner (reused on About and Friends)
3.3 - Profile Contents
4 - Friends Page
5 - Newsfeed

**/

/** CSS Reset **/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label  legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  position: relative;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Globals & Custom Variables**/

:root {
  --color-facelook-blue: rgb(68, 119, 173);
  --color-facelook-green: rgb(20, 208, 55);
  --color-facelook-dk-blue: rgb(31, 23, 120);
}

html {
  font-family: 'Raleway', sans-serif;
}

.small-font {
  font-size: 0.8em;
}

/** 2 - Home Page **/
/** 2.1 - styling & layout for title and sign-in form **/

.home-header {
  height: 90px;
  width: 100%;
  background-color: var(--color-facelook-blue, blue);
}

.home-header >h1 {
  font-size: 3em;
  color: white;
  padding: 20px;
  float: left;
}

.login-form {
  float: right;
  padding: 20px;
}

.login-form label {
  color: white;
}

.login-form td {
  padding-left: 5px;
}

@media (min-width: 1000px) {
  .login-form {
    position: absolute;
    left: 633px;
  }
}

@media (max-width:605px) {
  .home-header{
    height: 180px;
  }
  .login-form {
    float:left;
  }
}

/** 2.2 - styling and layout for welcome message **/

.page-content {
  max-width: 1000px;
}

.welcome {
  float: left;
}

.welcome >h2 {
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px;
}

.welcome >ul {
  line-height: 2;
  padding-left: 110px;
}

@media (max-width:605px) {

  .welcome >h2{
    text-align: left;
    padding-top: 20px;
    padding-left: 10px
  }
  .welcome >ul {
    padding-left: 40px;
  }
}


/** 2.3 - styling for Sign-Up form **/

.sign-up {
  float: right;
  padding-top: 20px;
  margin-right: 23px;
}

.sign-up >h1 {
  font-size: 2em;
}

.sign-up-form {
  padding-right: 50px;
}

.sign-up-form >h2 {
  margin-top: 10px;
}

.form-no-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sign-up-form input[type=text] {
  width: 45%;
  margin-top: 10px;
}

.sign-up-form input[type=email] {
  width: 98%;
  margin-top: 10px;
}

.sign-up-form input[type=password] {
  width: 98%;
  margin-top: 10px;
}

.sign-up-form select {
  margin-top: 10px;
}

.sign-up-form input[type=radio] {
  margin-top: 15px;
}

.sign-up-form input[type=submit] {
  margin-top: 10px;
  width: 100%;
  color: white;
  font-size: 1.1em;
  background-color: var(--color-facelook-green, green);
}

@media (max-width:860px) {
  .sign-up {
    clear: left;
    float: left;
    padding-left: 90px;
  }
}

@media (max-width:605px) {
  .sign-up {
    clear: left;
    float: left;
    padding-left: 20px;
  }
}

/** 3 - About Page  **/


/** 3.1 - Page Header (reused across logged-in pages) **/

.page-header {

  display: flex;
  height: 40px;
  justify-content: space-between;
  padding-left: 5%;
  background-color: var(--color-facelook-blue, blue)
}

.logo {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.logo >a{
  float: right;
  font-size: 2em;
  padding-left: 5px;
  text-decoration: none;
  color: white;
}

.header-search-bar {
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
}

.header-search-bar input[type="search"] {
  width: 100%;
}

.page-header >h3 {
  font-size: 1.1em;
  color: white;
  padding-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width:650px) {
  .logo >a{
    display: none;
  }
}

/** 3.2 - Profile Banner (reused on About and Friends) **/

.profile-banner {
  margin-left: 5%;
  margin-right: 5%;

}

.profile-banner-image {
  border: 1px solid black;
  border-bottom: none;
}

.profile-banner-image >img {
  height: 300px;
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.profile-user-image >img{
  height: 200px;
  width: 200px;
  object-fit: contain;
  position: absolute;
  top: 160px;
  left: 7.5%;
}

.profile-banner >h3{
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 305px;
  left: 285px;
  color: white;

}

.profile-user-image-nav {
  float: left;
  height: 30px;
  width: 35%;
  border: 1px solid black;
  background-color: var(--color-facebook-dk-blue, darkblue);
}

.profile-nav-bar {
  display: flex;
  flex-wrap: nowrap;
}

.profile-timeline-nav, .profile-about-nav, .profile-photos-nav, .profile-friends-nav, .profile-edit-profile-nav {
  float: left;
  height: 30px;
  width: 12%;
  text-align: center;
  border: 1px solid black;
  border-left: none;
  font-size: .7em;
  display: flex;
  justify-content: center;
  background-color: var(--color-facebook-dk-blue, darkblue);
}



.profile-edit-profile-nav {

  width: 16%;

}

.profile-edit-profile-nav >a,
.profile-timeline-nav >a,
.profile-about-nav >a,
.profile-photos-nav >a,
.profile-friends-nav >a{
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: white;
}

@media (max-width:650px) {
  .profile-user-image >img{
    top: 70px;
    object-position: left;
  }
  .profile-banner >h3{
    left: 7.5%;
  }
}


/** 3.3 - Profile Contents **/

.profile-contents {
  clear: both;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 400px;
  border: 1px solid black;
}

.about-header-bar {
  height: 30px;
  border: 1px solid black;
  background-color: var(--color-facelook-dk-blue, darkblue);
}

.about-header-bar >h2 {
  font-size: 1.4em;
  padding-top: 5px;
  text-align: center;
  color: white;
}

.about-header-bar >form{
  float: right;
  position: relative;
  top: -22px;
  padding-right: 5px;
}

.about-header-bar >form>input[type="submit"]{
  background-color: var(--color-facelook-blue, blue);
  color: white;
}

.about-column-left {
  float: left;
  width: 40%;
  padding-left: 5%;
  padding-top: 3%;
  line-height: 2;
}

.about-column-left td {
  font-size: 0.75em;
  padding-left: 5px;
}

#about-heading-basic, #about-heading-contact, .about-column-right >h3 {
  font-size: 1.2em;
}

#about-heading-contact {
  padding-top: 10px;
}

.about-column-right {
  float: right;
  width: 50%;
  padding-top: 2%;
  padding-right: 5%;

}

.about-column-right >p{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width:700px) {
  .about-column-left {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }
  .about-column-right {
    margin-top: 20px;
    clear: both;
    float: none;
    width: 83%;
    margin-left: auto;
    margin-right: auto;

  }
}
/** 4 - Friend Page **/


.content-box {
	margin-top: 30px;
	margin-left: 5%;
	margin-right: 5%;
	border: 1px solid black;
}

.content-box >h2 {
  background-color: var(--color-facelook-dk-blue, darkblue);
  height: 30px;
  font-size: 1.4em;
  padding-top: 7px;
  text-align: center;
  color: white;
}

.friend-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.friend {
  font-size: 0.75em;
  width: 45%;
  border: 1px solid black;
	display: inline;
  margin: 10px;
  padding-right: 10px;
}

.friend >img {
	float:left;
  width: 50;
  height: 50;
  padding: 10px;
  object-fit: cover;
}

.friend >div {
  margin-top: 20px;
}

.friend >form {
  float: right;
	position: relative;
	top: -15px;
}
