$facebook-blue:#EDF0F6;
$header-button:#4267B2;
$header-button-border:#29487d;
$header-button-hover:#365899;
$black:#000000;
$white:#FFFFFF;
$grey-background:#C2C2C2;
$gradient-first:#4E69A2;
$gradient-second:#3B5998;




