#about{
		#bar{
			background-color: $blue;
			color: $white;
			padding: 10px 0px 1px 0px;
			margin-bottom: 23px;
		}

		ul{
			list-style: none;
    		margin: 0;
		}

		#basic-info, #words{ 
			padding-bottom: 19px; 
		}

		h5{ 
			font-size: 27px; 
		}

		.bold{
			font-weight: bold;
			margin-right: 15px;
		}
}