/*reusable component for friends and about page*/
.user-info{
	.top-bar{
		background-color: $blue;
		color: $white;

		input{
			padding: 0px 250px;
    		margin: 0px 0 0 40px;
		}

		a{
			margin-left: 33px;
		}

		ul{ 
			margin: 0;
		}

		.head-li{ 
			height: 10px;
		}

		h3{
			padding-left: 25px;
			margin: 0px;
			position: relative;
			top: -42px;

			i{
				padding-right: 12px;
			}
		}

		.list-align{
			background-color: $blue;
			color: $white;

			a{ color: $white; }
		}

	}

	.info-header{
	margin-bottom: 50px;

		#cover-photo{
			height: 250px;
			width: 850px;
		}

		#profile-pic{
			position: relative;
			top: -146px;
			width: 167px;
			height: 167px;
		}

		.nav-links{
			background-color: $blue;
		}


		.menu{

			#pic{
				height: 10px;
				margin-right: 45px;
			}

			a{
				color: $white
			}

			#edit-profile{
				margin-left: 44px;
			}
		}
	}
}