/* Imports */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variables */
/* Mixins */
/* Typography */
h1, h2, h3, h4, h5, h6,
label, li, input, legend,
button, p {
  font-family: "Nunito", sans-serif;
  font-size: 16px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px;
  font-weight: bold; }

h3 {
  font-size: 24px;
  font-weight: bold; }

/* Navigation */
.nav {
  background-color: #4469AF;
  color: #FFF;
  display: flex;
  font-size: 14px;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px 15%; }
.nav h2 {
  align-self: center;
  font-weight: normal;
  margin-left: 10px; }
.nav form {
  align-self: center;
  display: flex;
  width: 45%; }
.nav label {
  padding-bottom: 5px; }
.nav input {
  border: 1px solid #000; }
.nav button {
  border: 1px solid #000;
  align-self: flex-end;
  background-color: #385A97;
  color: #FFF;
  height: 20px;
  padding: 0;
  text-align: center;
  width: 70px; }
.nav a {
  align-self: center;
  display: flex;
  text-decoration: none; }
.nav input[type="search"] {
  align-self: center;
  height: 30px;
  text-indent: 5px;
  width: 600px; }

.email,
.password {
  display: flex;
  flex-direction: column;
  padding-right: 15px; }

/* Home */
.home {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 10%;
  width: 90%; }

/* Intro */
.intro {
  padding-top: 10%;
  width: 50%; }
.intro h3 {
  margin-bottom: 20px;
  padding: 10px; }
.intro ul {
  list-style-type: disc;
  margin-left: 10px; }
.intro li {
  color: #696969;
  margin-bottom: 15px; }
.intro span {
  font-weight: bold; }

/* Sign Up */
.sign-up {
  margin-top: 5%;
  width: 40%; }
.sign-up h2 {
  font-weight: normal;
  margin-bottom: 10px; }
.sign-up input {
  margin-bottom: 10px;
  text-indent: 5px; }
.sign-up input[type="email"],
.sign-up input[type="password"] {
  display: block;
  width: 85%; }
.sign-up fieldset {
  margin-top: 20px; }
.sign-up input[type="radio"] {
  margin-top: 15px; }
.sign-up label {
  font-weight: bold; }
.sign-up button {
  border: 1px solid #000;
  background-color: #7BB968;
  box-shadow: 2px 2px 1px #000;
  color: #FFF;
  font: bold 20px Arial, sans-serif;
  margin-top: 10px;
  padding: 5px 10px;
  width: 70%; }

legend {
  font-weight: bold;
  margin-bottom: 10px; }

/* About */
.about {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10%;
  width: 90%; }

.cover {
  background: url("http://via.placeholder.com/1000x350") no-repeat;
  height: 350px;
  margin: 0 auto;
  width: 1000px; }
.cover h2 {
  font-weight: normal;
  position: relative;
  top: 270px;
  left: 200px; }

.about-nav {
  width: 100%; }
.about-nav ul {
  display: flex;
  width: 100%; }
.about-nav li {
  border: 1px solid #000;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  width: 150px; }
.about-nav li:first-of-type {
  width: 200px; }
.about-nav li:last-of-type {
  padding-right: 15px;
  text-align: right;
  width: 295px; }
.about-nav .counts {
  color: #A9A9A9; }

#profile img {
  height: 200px;
  margin-top: -250px;
  width: 150px; }

/* Main */
.info {
  border: 2px solid black;
  box-sizing: border-box;
  margin: 10px auto;
  width: 70%; }
.info header {
  background-color: #EEEEEE;
  border-bottom: 2px solid black;
  padding: 5px 0;
  text-align: center;
  width: 100%; }
.info h2 {
  display: inline-block;
  margin-left: 150px; }
.info button {
  border: 1px solid #000;
  background-color: #4469AF;
  bottom: 8px;
  box-shadow: 2px 2px 1px #000;
  color: #FFF;
  font: bold 14px Arial, sans-serif;
  left: 275px;
  padding: 5px 10px;
  position: relative;
  width: 140px; }

.cols {
  display: flex;
  margin: 10px auto;
  padding: 10px 45px 20px 45px; }
.cols h3 {
  margin: 10px 0; }

.basic-info,
.about-me {
  width: 50%; }

.lists {
  display: flex;
  width: 100%; }

.categories {
  width: 30%; }
.categories li {
  font-weight: bold;
  margin: 15px 15px 15px 0; }

.data li {
  margin: 15px 0; }

/*# sourceMappingURL=styles.css.map */
