html,
body {
  height: auto;
  width: auto;
}

body {
  margin: 0% 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

header {
  display: inline-block;
  color: #fff;
  background-color: #3b5998;
  border-bottom: 2px solid #000;
}

nav {
  display: inline-block;
  border: 0 2px solid #000;
}

#navbar {
  border: 2px 0 solid #000;
}

nav > ol {
  margin-left: 10%;
}

nav > li {
  border: 0 2px solid #000;
  padding: 5px;
}

nav > li:hover {
  background-color: #d3d3d3;
}

main {
  border: 2px solid #000;
}

#subheader {
  display: inline-block;
  background-color: #d3d3d3;
  border-bottom: 2px solid #000;
}

#main-content {
  padding: 5%;
}

.column-left {
  float: left;
  width: 30%;
  margin: 0 1.5%;
}

.column-right {
  float: right;
  width: 63%;
  margin: 0 1.5%;
}
