/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Global **/

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	line-height: 1.3em;
}

.container {
	padding: 15px;
	margin-top: 70px;
	margin-right: 10%;
	margin-left: 10%;
	display: flex;
	justify-content: space-around;
}


input {
	margin-top: 5px;
	margin-bottom: 6px;
	border: 1px solid black;
	padding: 5px 6px 3px 6px;
	border-radius: 3px;
}
button {
	margin: 5px;
  padding: 5px 8px 4px 8px;
	background-color: #80ccff;
	border: 1px solid gray;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.55);
}

button:hover {
	background-color: #2e5cb8;
}

/** Blue Top Nav **/
.blue-top {
  position: fixed;
	z-index: 1;
  top: 0;
  width: 100%;
  background-color: #2e5cb8;
  color: white;
	display: flex;
  flex-flow: row;
	flex-direction: row;

	align-items: center;
  padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 10%;
	border-bottom: 1px solid gray;
	-webkit-box-shadow: 0px 3px 23px -4px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 3px 23px -4px rgba(0,0,0,0.66);
  box-shadow: 0px 3px 23px -4px rgba(0,0,0,0.66);
}

.username {
	margin-right: 15%;
	margin-left: 15px;
	font-weight: bold;

}
.logo {
	font-size: 35px;
	font-weight: bold;
	margin-left: 15px;
	margin-right: 15px;
}

.search input[type="search"] {
	display: inline-block;
	margin-right: 10px;
	margin-left: 15px;
	width:800px;
	border: 1px solid gray;
}

.user-profile-img img {
	width:30px;
	height: 30px;
	margin-left: -27px;
  display: inline-block;
	border: 1px solid gray;
}

/** Header - Cover Photo **/

.profile-header {
	position: relative;
  height: 350px;
	padding: 10px;
	margin-top: 0;
	background: url(https://s-media-cache-ak0.pinimg.com/originals/bf/67/1b/bf671b9cfcab6862ac7feaa6917a9d43.jpg) no-repeat;
	background-size: cover;
	border: 1px solid gray;
	border-collapse: collapse;
	-webkit-box-shadow: 0px 0px 2pax 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.55);

}

.profile-header img {
	left: 5px;
	bottom: 10px;
	border: 1px solid gray;
	border-bottom: none;
	display: table-cell;
}

.img-description {
	width: 130px;
	float: left;
	padding:10px;
	text-align: center;
	background-color: white;
	border: 1px solid gray;
	border-top: none;
}

.navigation {
	background-color: white;
	border-top: 1px solid gray;
	display: inline-block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
  display: inline-block;
	display: flex;
	flex-flow: row;
	flex-direction: row;
}


.navigation button {
  background-color: white;
	color: black;
	padding: 10px;
	margin: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	border-right: 1px solid gray;
}

.navigation button:hover {
	background-color: #f0f5f5;
	padding: 10px;
}

.nav-buttons button {
	display: inline-block;
}
.edit-profile {
	position: absolute;
	right: 10px;
	align-self: center;
	color: #2e5cb8;
}

/** About **/

.about-container {
	width: 100%;

	border: 1px solid gray;
	margin-top:10px;
}

.headline {
	width:100%;
  display: inline-block;
	text-align: center;
	background-color: #f0f5f5;
	border-bottom: 1px solid gray;
	position: relative;

}

.headline h2 {
	font-size: 18px;
	align-self: center;
	font-weight: bold;
	padding: 10px;
	display: inline-block;
}


.edit-profile-button {
  position: absolute;
  right: 10px;
	display: inline-block;
}

.about-content {
	padding: 60px;
}

.about-content h2 {
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0px 10px 0;
}

.float-left {
	float: left;
	width: 40%;
}

dl {
	line-height: 1.7em;
	padding-bottom: 20px;
}
dt {
	display: inline;
	font-weight: bold;
}
dd {
	display: inline;
}

p {
	padding-bottom: 20px;
}
