// Définition des couleurs utilisées

// Couleurs de fond
$html-background-color: #E9EBEE;
$menu-bkg-color: #FFF;
$bandeau-bkg-color: #F6F7F9;

// Couleurs de la barre de navigation
$navbar-background-color: #3B5998;

// Couleur des textes
$text-color: #FFF;
$menu-text-color: #4565A1;
$menu-active-color: #52555C;
$friends-nber-color: #BBB;
$bandeau-text-color: #4B4F56;

// Couleurs des liens
$link-hover-bkg-color: #F6F7F9;
$menu-hover-bkg-color: #355089;

// Couleurs des boutons
$btn-log-in-bkg-color: #4267B2;
$btn-log-in-border-color: #29487D;
$btn-log-in-bkg-hover-color: #365899;
$btn-submit-border-color: #235A00;
$btn-submit-bkg-color: #348300;
$btn-submit-hover-bkg-color: #388B02;
$btn-unfriend-bkg-color: #F6F7F9;
$btn-unfriend-hover-bkg-color: #E9EBEE;
$btn-unfriend-border-color: #CED0D4;

// Icones
$search-icon-color: #444;
$user-photo-bkg-color: #666;

// Couleurs bordures images et menus
$profile-ban-border-color: rgba(0,0,0,0.6);
$menu-border-color: #D3D6DB;
$pic-border-color: #FFF;
$arrow-color: #E9EBEE;
$field-border-color: #BDC7D8;
$news-border-color: #CED0D4;
