nav {
  width: 996px;
}


main {
  background-color: rgb(237, 240, 245);
  background-image: linear-gradient(white, rgb(211, 216, 232));
}

select:required:invalid {
  color: gray;
  padding: 5px;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.wrapper {
  padding: 20px 0;
  width: 966px;
}

#login-submit {
  font-weight: bold;
  padding: 2px 6px 2px 6px;
}

.logo {
  width: 170px;
  margin-left: 0px;
}

.nav-login {
  display: flex;
  flex: 3;
  justify-content: flex-end;
  flex-flow: wrap;
  padding: 20px 0;
}

.nav-label {
  display: flex;
  order: 3;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 12px;
  margin-left: 14px;
  width: 150px;
}

.nav-label:last-of-type {
  margin-right: 64px;
}

.nav-input {
  order: 2;
  margin-top: auto;
  margin-left: 14px;
  width: 142px;
  border: 1px solid #000;
  padding: 3px 3px 4px 3px;
  font-size: 12px;
  height: 14px;
}

.nav-submit {
  order: 3;
  margin-left: 14px;
  justify-content: flex-start;
  color: #fff;
  background-color: #4267b2;
  border: 1px solid rgb(41, 72, 125);
}

.nav-submit:hover {
  background-color: #365899;
}

.section-features {
  margin-right: 16px;
  flex: 3 0px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}

.section-signup {

  width: 400px;
}

.feature-header {
  font-weight: bold;
  padding: 42px 0 24px 0;
}

.feature-bullets {
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  color: dimgray;
  line-height: 43px;
  padding-bottom: 10px;
  align-items: center;
}

.feature-picture {
  width: 53px;
  margin-right: 10px;
}

.section-signup {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.signup-header {
  font-weight: bold;
  line-height: 43px;
  margin-bottom: 5px;
  flex: 1 100%;
}

.signup-subheader {
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 20px;
  flex: 1 100%;
}

.signup-input {
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 10px;
  width: 0px;
  margin-bottom: 10px;
  flex: 1 100%;
}

#first-name {
  flex: 1 auto;
  margin-right: 10px;
}

#last-name {
  flex: 1 auto;
}

.signup-birthday {
  margin: 10px 0;
  flex: 1 100%;
}

.signup-dropdown {
  flex: 1 auto;
  margin-bottom: 10px;
}

.gender {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex: 1 100%;
  margin: 10px 0;
}

.signup-label {
  margin-right: 20px;
}

.signup-radio {
  margin-right: 5px;
}

#signup-submit {
  background-color: #69a74e;
  background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  padding: 7px 20px;
  margin: 10px 0;
  border: 1px solid;
  border-top-color: rgb(59, 110, 34);
  border-right-color: rgb(59, 110, 34);
  border-bottom-color: rgb(44, 81, 21);
  border-left-color: rgb(59, 110, 34);
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  font-family: Montserrat, sans-serif;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 1px #a4e388;
  cursor: pointer;
  min-width: 194px;
  line-height: 24px;
}

#signup-submit:hover {
  background-image: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
}
