@import url('assets/style.css');


header{
	padding: 0;
}

.headercontainer{
	width: 80%;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.logo{
	width: 35px;
	height: 0%;
	margin-right: 10px;
	align-self: center;
}

.brand{
	display: inline-flex;
}

#searchform{
	margin-left: 25px;
	width: 50%;
	align-self: flex-end;
}

#search{
	width: 100%;
	text-align: left;
}

#searchform input:placeholder-shown{
	padding-left: 3px;
}

.nameIdentity{
	font-size: 1.15rem;
}

/*Body*/

.bodycontainer{
	width: 80%;
	margin: 0 auto;
}

#coverpic{
	width: 20%;
	display: block;
	margin: 0 auto;
	transform: scale(5, 1.4);
}