/****** ****//* MAIN NAV *//****** ****/
#main-nav {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  background-color: #06F;
  color: white;
  font-size: 18px;

}
#main-nav * {
  flex-grow: 1;
  margin: 0;
}
#searchbar {
  flex-grow: 3;
}

#iblock *{
  display: inline-flex;
  font-size: 24px;
}
#iblock {
  margin-left: 20px;
}
#iblock img{
  margin-left: 5px;
  margin-right: 5px;
}
#main-nav input {
  font-size: 14px;
}
#about-me {
  margin-left: 40px;
}

#main-nav img {
  width: 30px;
  height: 30px;
}

/****** ****//* MAIN NAV *//****** ****/
