/*
primary font-size: 14px
line-height: 20px
baseline-value for vertical spacing: 20px

Scale used: 14, 16, 24, 40, 64, and 104
*/


/* testing a reset thing , doesn't seem to work */
* {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

/* CLEARFIX */

.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}
.clearfix::after {
	clear: both;
}
.clear {
  clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}

html {
  box-sizing: border-box;
}
h1 {
  font-size: 24px;
}

/****** ****//* NAV *//****** ****/
#login-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: #06F;
  color: white;
  font-size: 14px;
}
#log-head {
  padding-left: 10px;
}
.flex-form {
  display: flex;
  flex-flow: row nowrap;
}

.form-group * {
  display: block;
  margin: 10px;
  border: 2px;
  padding: 1px;
}
.form-group {
  float: left;
}
.btn {
  background-color: #9cf;
}
#login-btn {
  align-self: flex-end;
}
/****** ****//* NAV -Login page *//****** ****/

/****** ****//* MAIN NAV *//****** ****/
#main-nav {
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background-color: #06F;
  color: white;
  font-size: 18px;

}

#main-nav * {

}
#main-nav img {
  width: 30px;
  height: 30px;
}

/****** ****//* MAIN NAV *//****** ****/

/****** ****//* ABOUT ME *//****** ****/
p {
  font-size: 14px;
  line-height: 20px;
}
/****** ****//* ABOUT ME *//****** ****/

/****** ****//* SIGN UP FORM *//****** ****/

fieldset {
  border: 0;
}
#sign-up-form {
  background-color: rgb(248, 248, 248);
  float: right;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 40%;
}
#sign-up-form * {
  flex: 1 100%;
  margin: 8px;
}
#sign-up-form input[type="email"] {
  border: 1px solid grey;
  /*consider using box-shadows or something here*/
  width: 100%;
}
#sign-up-form input[type="password"] {
  border: 1px solid grey;
  /*consider using box-shadows or something here*/
  width: 100%;
}
#sign-up-form input[type="text"] {
  border: 1px solid grey;
  /*consider using box-shadows or something here*/
  width: 100%;
}
#cta-button {
  background-color: #390;
  color: white;
  font-size: 24px;
}

#name .col-2 {
  flex: 1 auto;
  display: inline-block;
}

/****** ****//* SIGN UP FORM *//****** ****/

/****** ****//* MAIN DISPLAY *//****** ****/
#main-display {
  display: block;
  float: left;
  position: relative;
  margin-top: 150px;
  left: 10%;
}

#main-display li {
  list-style-type: circle;
}







/****** ****//* MAIN DISPLAY *//****** ****/
