/* ----------------------------------- *
 *       THEME COLORS & FONTS
 * ----------------------------------- */

/* Colors */
$brand-color: #317BE1; /* blue */
$brand-color-light: #A0C6F7; /* light blue */
$secondary-color: #EEEEEE; /* light gray */
$tertiary-color: #2C9C20; /* green */

/* Fonts */
$main-font: 'Quicksand', sans-serif;

/* Media Query Measurements */
$narrow-max: 769px;
$wide-min: 770px;
