/* ----------------------------------- *
 *       THEME COLORS & FONTS
 * ----------------------------------- */

:root {
  --green: #2C9C20;
  --blue: #317BE1;
  --lightblue: #A0C6F7;
  --lightgray: #EEEEEE;
}