/*
  ========================================
  Utility Bar 
  ========================================
*/
.utility-bar li:nth-child(2) {
  background-color: #cccccc;
}

/*
  ========================================
  Main Content
  ========================================
*/
.column-1 h3, .column-2 h3 {
  padding-bottom: 10px;
  font-size: 20px;
  color: #333333;
  font-weight: 400;
  text-align: left;
}
.column-1 dt {
  font-weight: 400;
}
.column-1 dt{
  display: inline;
  float: left;
  clear: left;
  width: 140px;
  text-align: left;
  font-weight: bold;
}
.column-1 dt:after {
  content: ":";
}
.column-1 dd {
  text-align: left;
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
.column-1 {
  float: left;
}
.column-2 p {
  text-align: left;
}