/* NavBar */
.nav-bar{
width: 100%;
height: 75px;

background-color: #3366ff;
font-family: fantasy;
color: white

}
.nav-sign-in{
float: right;
}
.nav-logo{
  float:left;
}
/* Main Container */
.main-container{
    width: 100%;
    hight: 100%;


}
/* Main Window */
.main-window{
  width: 100%;
  hight: 100%;
  font-family: fantasy;
  color: darkgray;
}

.right-window{
  width: 35%;
  hight: auto;
float:right;


}

.left-window{
  width: 65%;
  hight: auto;

}
/* Main Footer copyrughts */
.main_footer{
font-family: fantasy;
color: darkgray;

}
