 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table,*/ caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
/*table {
  border-collapse: collapse;
  border-spacing: 0;
}*/

* {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#homepage_header {
  background: #3a5795;
  height: 90px;
  width: 100%;
  color: white;
  position: absolute;
}

#homepage_header>h1 {
  font-size: 30px;
  float: left;
  margin-top: 30px;
  margin-left: 100px;
}

#login_table {
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  font-size: 12px;
}

#login_table tr {
  height: 16px;
}

.login_field {
  width: 150px;
  margin-right: 20px;
}

#homepage_left_column {
  color: black;
  position: absolute;
  top: 200px;
  left: 100px;
}

#homepage_left_column h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

#homepage_left_column ul {
  list-style-type: square;
  margin-left: 36px;
}

#homepage_left_column ul li {
  font-size: 18px;
  margin-bottom: 18px;
}

#sign_up_table {
  color: black;
  position: absolute;
  top: 120px;
  left: 650px;
  width: 400px;
}

#sign_up_table h1 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 30px;
}

#sign_up_table tr {
  height: 45px;
}

#right_just {
  text-align: right;
}
.single_wide {
  width: 185px;
  height: 20px;
  font-size: 16px;  
}

.double_wide {
  width: 400px;
  height: 20px;
  font-size: 16px;
}

select {
  font-size: 30px;
  margin-bottom: 15px;
}

#sign_up_button {
  width: 400px;
  background: green;
  color: white;
  height: 48px;
  font-size: 24px;
}

#sign_up_table h2 {
  margin-bottom: -12px;
}

/* END OF SIGN UP PAGE */

/* START OF GENERAL HEADER */

#header {
  background: #3a5795;
  height: 45px;
  width: 100%;
  color: white;
  position: relative;
  font-size: 15px;
}

#header #active_header {
  width: 960px;
  height: 10px;
  margin: 0 auto;
}

#header #active_header #facebork, #user_search_bar, #user_name {
  vertical-align: middle;
  line-height: 45px;
}

#header #active_header #facebork, #user_search_bar {
  float: left;
}

#header #active_header #facebork {
  margin-left: 15px;
}

#header #active_header #user_search_bar {
  margin-left: 50px;
}

#header #active_header #user_search_bar input {
  width: 550px;
  height: 15px;
  font-size: 12px;
}

#header #active_header #user_name {
  float: right;
  margin-right: 15px;
}

/* END OF GENERAL HEADER */

/* START OF USER HEADER */

#user_header {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#profile_picture {
  position: absolute;
  top: 200px;
  left: 30px;
  border: 4px white solid;
}

#user_navbar {
  width: 960px;
  height: 60px;
  border: 1px WhiteSmoke solid;

}

#user_navbar #navbar_left_pad {
  width: 240px;
  height: 60px;
  float: left;
}

#user_navbar .navbar_button,#right_just_navbar_button {
  height: 60px;
}

#user_navbar .navbar_button {
  float: left;
  border: 1px Gainsboro solid;
}

#user_navbar a {
  margin-right: 20px;
  margin-left: 20px;
  vertical-align: middle;
  line-height: 60px;
}

#user_navbar #right_just_navbar_button { 
  float: right;
}

/* END OF USER HEADER */

/* START OF ABOUT PAGE */

