/*
==========================================================
Base rules
==========================================================
*/

html {
  font-size: 16px;
  line-height: 22px;
  font-family: sans-serif;
}

header {
  background-color: #2B78E3;
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
}

header h3 {
  color: WhiteSmoke;
  display: inline-block;
}


/* IMAGES */

.header-logo {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.empty {
  line-height: 22px;
}

/*
==========================================================
Layout rules
==========================================================
*/

header {
  height: 33px;
}

.header-bar {
  height: 33px;
  width: auto;
  background-color: #2B78E3;
  position: absolute;

}

.search-bar {
  width: 620px;
}

#profile-photo {
  position: absolute;
  top: 222px;
  left: 30px;
}

.user-photos h1 {
  position: absolute;
  left: 195px;
  top: 266px;
}

/*
==========================================================
Module rules
==========================================================
*/

#title {
  padding-left: 5px;

}

header {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

#cover-photo {
 border: solid black 2px;
}

#profile-photo {
  border: solid black 2px;
}

.search-bar {
  padding: 2px;
}

.number-count {
  color: lightgray;
}

.nav-title {
  border: solid black 2px;
}
