
/* Imports */

/* Variables */

/* Fonts */
$font-normal: 16px;
$line-height-normal: 22px;
$font-medium: 26px;
$line-height-medium: 40px;
$font-medium-large: 32px;
$line-height-medium-large: 44px;

/* Colors */
$primary-color: whitesmoke;
$secondary-color: #2B78E3;
$light-color: lightgray;

$link-color: blue;

$plain-border: solid black 2px;


/* Mixins */






/*
=================================
Base Styles
=================================
*/

html {
  font-size: $font-normal;
  line-height: $line-height-normal;
  font-family: sans-serif;
}

header {
  display: inline-block;
  line-height: $line-height-normal;
  vertical-align: middle;
  background-color: $secondary-color;
  h3 {
    color: $primary-color;
    display: inline-block;
    vertical-align: middle;
    padding-top: 5px
  }
}

h1 {
  font-size: $font-medium-large;
  font-weight: bold;
}

h2 {
  font-size: $font-medium;
  margin: 20px 0px 20px 30px;
}

.grid_7{
 h2 {
   margin: 20px 1px 20px 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* Images */

.header-logo {
  width: 30px;
  height: 30px;
}

.empty {
  line-height: $line-height-normal;
}

#profile-photo {
  position: relative;
  bottom: 125px;
  left: 20px;
  margin-right: -157px;
}

.user-photos {
  height: 280px;
}

/*
==========================================================
Layout rules
==========================================================
*/

header {
  height: 33px;
}

.header-bar {
  height: 33px;
  width: auto;
  position: absolute;
}

form {
  margin-top: 5px;
}

.search-bar {
  width: 620px;
}

.user-photos {
    h1 {
      position: relative;
      bottom: 50px;
      left: 190px;
    }
}

nav {
  margin-bottom: 10px;
  height: 50px;
}

.nav-title {
  margin-left: 0px;
  margin-right: 0px;
  height: 44px;
  display:flex;
  justify-content:center;
  align-items:center;
  &:first-child {
    margin-left: 10px;
    border-left: $plain-border;
  }
  &:last-child {
    padding-left: 10px;
    text-decoration: underline;
    color: $link-color;
  }
  h5, p {
    display: inline;
    vertical-align: middle;
  }
}

.number-nav {
  color: $light-color;
  margin-left: 5px;
}

.about {
  margin-right: 5px;
  h1 {
    text-align: center;
    padding-top: 5px;
  }
}

.about-heading {
  background-color: $light-color;
  border: $plain-border;
  height: 36px;
}

.same-line {
  display: inline-flex;
  padding-left: 10px;
  margin-bottom: 10px;
  &:nth-child(5) {
    margin-bottom: 20px;
  }
}

.top {
  padding-top: 70px;
}

.col_2 {
  position: relative;
  bottom: 303px;
}

.about-info {
  height: 400px;
}

.friend-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.friend-picture {
  margin: 5px 5px 5px 5px;
  width: 75px;
  height: 75px;
  position: relative;
  top: 10px;
  left: 10px;
}

.friend-badges {
  position: relative;
  left: 30px;
}

/*
==========================================================
Module rules
==========================================================
*/

#title {
  padding-left: 5px;
}

header {
  border-top: $plain-border;
  border-bottom: $plain-border;
}

#cover-photo {
 border-bottom: $plain-border;
 border-left: $plain-border;
 border-right: $plain-border;
}

#profile-photo {
  border: $plain-border;
}

.search-bar {
  padding: 2px;
}

.number-count {
  color: $light-color;
  position: relative;
  bottom: 33px;
  left: 110px;
}

.nav-title {
  border-bottom: $plain-border;
  border-right: $plain-border;
}

.about-info {
  @extend #cover-photo
}

.about-heading {
      a {
        color: $primary-color;
        background-color: $secondary-color;
        text-align: center;
        font-weight: bold;
        padding: 7px;
        position: relative;
        bottom: 22px;
        right: 15px;
        box-shadow: 1px 5px 2px 2px black;
      }
}

.friend-box {
  border: $plain-border;
  height: 110px;
}

.friend-name {
  margin-left: 10px;
  position: relative;
  left: 10px;
}

.unfriend-button {
  background-color: gray;
  border: $plain-border;
  box-shadow: 2px 2px 1px 1px;
  text-align: center;
  font-weight: bold;
  position: relative;
  bottom: 60px;
  left: 250px;
  width: 100px;
}
