a:visited{
  color: blue;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

header{
  width: 100%;
  height: 50px;
  background-color: #3A5795;
}

#fb-logo-wrapper{
  display: inline-block;
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 8px;
  margin-left: 90px;
  border: 2px solid black;
}

#fb-logo{
  width: 100%;
  height: 100%;
  display: inline-block;
}

#facelook{
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 13px;
  float: left;
  margin-left: 5px;
}

#search-field-wrapper{
  display: inline-block;
  width: 800px;
  margin-left: 45px;
  margin-top: 10px;
}

#search-field{
  width: 100%;
  line-height: 24px;
  font-size: 16px;
}

#harry{
  display: inline-block;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-right: 100px;
  margin-top: 15px;
}

#title-bar{
  width: 1170px;
  height: 350px;
  display: inline-block;
  margin-left: 90px;
  border: 3px solid black;
  border-top: none; 
}

#cover-photo-container{
  display: inline-block;
  width: 100%;
  height: 83%;
  background-image: url(../images/hogwarts.jpg);
  background-color: grey;
  background-blend-mode: multiply;
  border-bottom: 3px solid black; 
}

#profile-pic-container{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 220px;
  left: 120px;
  border: 3px solid black;
}

#profile-pic{
  width: 100%;
  height: 100%;
}

#harry-potter{
  margin-top: 250px;
  margin-left: 200px;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.title-bar-button{
  display: inline-block;
  font-size: 18px;
  line-height: 57px;
  width: 130px;
  text-align: center;
  border: 3px solid black; 
  margin-left: -6px;
  border-top: none;
  border-bottom: none;
}

.greyed-out{
  min-width: 2px;
  margin: 0px 0px;
  color: grey;
}

#timeline-button{
  margin-left: 200px;
}

#about-page-btn,
#friend-page-btn{
  background-color: #EEEEEE;
}

#edit-profile-link{
  display: inline-block;
  color: #3A5795;
  float: right;
  margin-right: 10px;
  line-height: 56px;
  text-align: center;
  font-weight: bold;
}

#about-container,
#friends-container{
  width: 1170px;
  height: 580px;
  display: inline-block;
  margin-left: 90px;
  margin-top: 35px;
  border: 3px solid black;
  margin-bottom: 30px;
}

#friends-container{
  height: 620px;
}

#about-header-container,
#friends-header-container{
  width: 100%;
  background-color: #EEEEEE;
  height: 40px;
  border-bottom: 3px solid black;
}

#about-header,
#friends-header{
  display: inline-block;
  min-width: 30px;
  text-align: center;
  margin-left: 550px;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px
}

#friends-header{
  margin-left: 540px;
}

#profile-edit-button{
  display: inline-block;
  width: 130px;
  text-align: center;
  float: right;
  line-height: 24px;
  margin-right: 10px;
  margin-top: 7px;
  background-color: #2A77E3;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 3px black;
}

#large-info-container{
  width: 40%;
  height: 80%;
  margin-left: 25px;
  display: inline-block;
}

.info-header{
  font-size: 34px;
  font-weight: bold;
  margin-top: 60px;
}

.info-container{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.info-bold{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
}

.content{
  display: inline-block;
  font-size: 18px;
  min-width: 1px;

}

#extra-info-container{
  float: right;
  width: 53%;
  display: inline-block;
}

#about-me{
  margin-top: 30px;
}

.friend-container-odd{
  width: 45%;
  height: 25%;
  display: inline-block;
  border: 1px solid black;
  float: left;
  margin-left: 35px;
  margin-top: 30px;
}

.friend-container-even{
  width: 45%;
  height: 25%;
  display: inline-block;
  border: 1px solid black;
  float: right;
  margin-right: 35px;
  margin-top: 30px;
}

#hermione-pic-container{
  display: inline-block;
  width: 90px;
  height: 117px;
  margin-top: 19px;
  margin-left: 19px;
  border: 1px solid black;
}

#hermione-pic{
  width: 100%;
  height: 100%;
  display: inline-block;
}

#friend-info-container{
  width: 380px;
  display: inline-block;
  font-size: 24px;
  float: right;
  margin-top: 60px;
}

#name,
#friend-count{
  display: inline-block;
}

#unfriend-btn-container{
  display: inline-block;
  width: 150px;
  text-align: center;
  line-height: 24px;
  background-color: #EEEEEE;
  font-weight: bold;
  box-shadow: 2px 2px 3px black;
  margin-left: 25px;
}

#sidebar{
  width: 30%;
  height: 2000px;
  display: inline-block;
  border: 3px solid black;
  float: left;
}

#muser-container{
  width: 70%;
  height: 100px;
  display: inline-block;
  margin: 55px 35px;
}

#muser-pic-container{
  width: 35%;
  height: 100%;
  display: inline-block;
}

#muser-pic{
  width: 100%;
  height: 100%;
  display: inline-block;
}

#muser-info-container{
  display: inline-block;
  vertical-align: top;
  width: 90px;
  margin: 10px 10px;
}

#muser-name{
  font-weight: bold;
}

#ra-header{
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin: 0px 35px;
}

.ra-friend-container{
  display: inline-block;
  margin: 20px 35px;
  width: 80%;
}

.ra-friend-pic-container{
  display: inline-block;
  width: 40px;
  height: 50px;
}

.ra-friend-pic{
  width: 100%;
  height: 100%;
}

.ra-friend-info-container{
  display: inline-block;
  vertical-align: top;
  margin: 10px 5px;
  width: 200px;
}

.ra-name,
.nf-name{
  font-weight: bold;
  display: inline-block;
  min-width: 30px;
  margin-right: 10px;
}

.ra-friend-post-date,
.nf-friend-post-date{
  display: inline-block;
  min-width: 40px;
  color: grey;
}

#see-all-friends{
  display: inline-block;
  margin: 20px 55px;
  font-size: 24px;
}

#newsfeed-container{
  width: 69%;
  height: 2000px;
  display: inline-block;
  border: 3px solid black;
  border-right: 4px solid black;
}

#new-post-container{
  width: 66%;
  height: 180px;
  margin: 50px auto;
  border: 2px solid black;
}

#new-post-header-container{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #EEEEEE;
  line-height: 24px;
  border: 1px solid black;
}

#new-post-info-box{
  width: 95%;
  height: 45%;
  margin: 20px auto 10px auto;
  border: 1px solid black;
}

#post-field,
#comment-field{
  width: 99%;
  height: 95%;
  line-height: normal;
}

#new-post-footer-container{
  width: 100%;
  height: 18%;
  background-color: #EEEEEE;
  border: 1px solid black;
  margin-top: 15px;
}

#post-button{
  width: 130px;
  text-align: center;
  float: right;
  line-height: 24px;
  margin-right: 10px;
  margin-top: 3px;
  background-color: #2A77E3;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 3px black;
}

.post-container{
  width: 66%;
  margin: 50px auto 0px auto;
  border: 2px solid black;
  font-size: 18px;
}

.nf-friend-container{
  width: 75%;
  margin: 10px 10px;
}

.nf-friend-pic-container{
  width: 50px;
  height: 63px;
  display: inline-block;
}

.nf-friend-pic{
  width: 100%;
  height: 100%;
}

.nf-friend-info-container{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  margin: 10px 10px;
}

.nf-footer-container{
  width: 100%;
  height: 12%;
  background-color: #EEEEEE;
  border: 1px solid black;
  margin-top: 15px;
  margin-top: 28px;
}

.like, .comment{
  display: inline-block;  
  width: 40px;
  margin-left: 5px;
  line-height: 30px;
}

.likes-this{
  line-height: 30px;
  margin-left: 5px;
}

.delete{
  float: right;
  display: inline-block;
  margin-right: 5px;
  line-height: 30px;
}

.comment-box{
  width: 66%;
  height: 650px;
  margin: 0px auto;
  border: 2px solid black;
  font-size: 18px;
  background-color: #EDEDED;
}

.com-info-container{
  display: inline-block;
  width: 85%;
  vertical-align: top;
  margin: 10px 10px;
}

.comment-info{
  margin-top: 15px;
}

.greyed-out{
  display: inline-block;
  color: grey;
}

.comment-container{
  margin-top: 0px;
}

#comment-like{
  margin: 10px 0px;
}

#comment-field{
  height: 100px;
  margin-bottom: 20px;
}

.cancel{
  display: inline-block;
  margin-left: 15px;
  margin-top: 20px;
}

#new-comment-field{
  width: 95%;
  height: 105px;
  margin: 20px auto 0px auto;
  border: 1px solid black;
}

#comment-button{
  width: 130px;
  text-align: center;
  float: right;
  line-height: 24px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #2A77E3;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 3px black;
}

#delete-2{
  margin-top: 15px;
  margin-right: 20px;
}