/*
  ===================================
  Colors
  ===================================


Blue Header #3D5A99
Dark Blue #15316D
Light Blue #8AA0CE
Log in Button #5B74A9
Sign Up Button #5C8F48
Complimentary #E5B14C
faded text #9DACCB
background #EDF0F5
*/

/*
  ===================================
  Body/Wrapper
  ===================================
*/

body {
  font-family: helvetica, sans-serif;
  background-color: #EDF0F5;
}

.wrapper {
  min-width: 960px;
}

div {
  /*border: 1px solid black;*/
}



/*
  ===================================
  Grid
  ===================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -mox-box-sizing: border-box;
          box-sizing: border-box;
}


.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;

}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width:66.66%;
}

/*
  ===================================
  HOMEPAGE
  ===================================
*/



/*
  ===================================
  Header
  ===================================
*/

.navbar {
  width: 100%;
  height: 70px;
  background-color: #3D5A99;
}

.navbar div {
  display: inline-block;
}

.facelook-title {
  color: #FFF;
  font-size: 40px;
  width: 200px;
  margin:15px 0 0 20px;
}

.log-in-container {
  float: right;
}

.text-input {
    width:145px;
    height: 27px;
    margin: 22px 15px 0 0;

}

/*
  ===================================
  Buttons
  ===================================
*/

.btn {
  border: none;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  border-radius: 2px;
  vertical-align: middle;

}

.btn:hover {
  background-color: #8AA0CE;
  cursor: pointer;

}

.btn-log-in {
  width: 50px;
  height: 27px;
  margin-right: 20px;
  background-color: #5B74A9;

}

/*
  ===================================
  Info Container / Sign-up Container
  ===================================
*/

.main-content {
  border:1px solid black;
  width: 960px;
  margin: 80px auto;
}

.info-container {
  display: inline-block;
  width: 425px;
  height:300px;
  border: 1px solid black;
  margin-right: 100px;
  vertical-align: top;
}

.sign-up-container {
  display: inline-block;
  width: 425px;
  height:300px;
  border: 1px solid black;
  float: right;

}

.info-container h2 {
  font-size: 26px;
}





/*
  ===================================
  lists
  ===================================
*/

.home-table {
  color: #333333;
}

.home-table th {
  font-size: 28px;
  text-align: left;
}

.home-table td{
  font-size: 20px;
}

.home-table td{
  padding-left: 20px;
  vertical-align: middle;

}

.home-table tr {
  height: 70px;
}

#post {
  background-image: url('file:///Users/JoeBernardi/VCS/prep_facebook_pages/assets/images/post.png');
}

#network {
  background-image: url('file:///Users/JoeBernardi/VCS/prep_facebook_pages/assets/images/share.png');
}

#newsfeed {
  background-image: url('file:///Users/JoeBernardi/VCS/prep_facebook_pages/assets/images/newsfeed.png');
}

.small-table-font {
  font-size: 16px;
  color: #7D7E7F;
}

.table-icon {
  background-repeat: no-repeat;
  display: block;
  margin-top: 15px;
  width:40px;
  height: 40px;
}