/*
========================================
CSS Reset
========================================
*

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
========================================
Layout styles for all pages
========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 300 16px/22px "Lato", "Helvetica Neue", Helvetica, "Open Sans", Arial, sans-serif;
  color: #1d2129;
}

.main-container {
  width: 960px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-color {
  background: #3b5998;
  background: linear-gradient(#4e69a2, #3b5998 50%);
}

/*
========================================
Typography
========================================
*/


h1 {
  font-size: 36px;
  line-height: 44px;
}

/*
========================================
Layout styles for home page
========================================
*/

.grid {
  width: 960px;
  margin: 0 auto;
}

.col-left {
  width: 55%;
}

.col-right {
  width: 45%;
}

.col-left,
.col-right { 
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-left,
.col-right {
  padding-left: 15px;
  padding-right: 15px;
}

.top-navbar {
  height: 100px;
}

.top-navbar h1,
.top-navbar form {
  padding-top: 24px;
}

.top-navbar h1 {
  font-size: 40px;
  color: #fff;
}

.inputs-and-btns-container {
  margin-left: 8px;
}

.input-label {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

.input-label-email {
  margin-left: 8px;
}

.input-label-password {
  margin-left: 96px;
}

.input-box {
  width: 120px;
  padding: 2px;
}

.input-box-email {

}

.input-box-password {
  margin-left: 8px;
}

.login-button {
  margin-left: 8px;
  font-size: 14px;
  background-color: #4267b2;
  border: 1px solid #ced0d4;
  color: #fff;
}
