*{
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 border-collapse: collapse;
}

.main-header{
  height: auto;
  padding:10px;
  background-color: #407ADD;
  color: #EEEEEE;
  border-bottom: 3px solid black;
}



.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
    clear:both;
}

.left {
  float:left;
}

.right {
  float:right;
}

.center {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.main-content-title {
  height: 40px;
}

.main-content {
}

.main-content h3{
  font-size: 36px;
}

.main-content button {
  box-shadow: 3px 3px 1px 1px #111;
  background: #407ADD;
  height: 24px;
  width: 120px;
  margin-top: 6px;
  color:white;
  border: 1px solid black;
}

.large-logo {
  padding:20px;
  font-size: 60px;
  margin-left: 20px;
  height:50px;
  margin-top:-10px;
}

.main-header {
  text-align: center;
}

.main-header img {
  margin-left:10%;
}

.main-header h2{
  margin-right:10%;
}

.main-header form {
  margin-top: 15px;
}

#main-signin-submit {
  box-shadow: 3px 3px 1px 1px #111;
  background: #8ca9db;
  height: 24px;
  width: 60px;
  margin-right: 20px;
}
.main-header p{
  display: inline-block;
  text-align: left;
}

.main-header .login {
    border: 3px solid black;

}

.main-header .search-bar {
  width:40%;
  border: 3px solid gray;
  margin: auto;
}

.flex-wrapper {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items:flex-start;
  justify-content: space-around;
  height: auto;
  width: 100%;

}

.flex-header {
  width: 100%;
  border-bottom: 2px solid black;
}

.flex-header h3{

}


.box-wrapper {
  border: 2px solid black;
}

#margined-wrapper {
  height:auto;
  width:80%;
  margin:auto;
}

.top-nav {
  background-image: url("../images/hogwartstable_cc.png");
  background-size: 100% 315px;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height:355px;
}

.top-nav .btn-group {
  width:100%;
  border: 1px solid black;
  margin-top:315px;
}


.top-nav button{
  width:auto;
  border-right: 1px solid black;
  border-collapse: collapse;
  background-color: white;
  padding: 10px;
}

.btn-group button:first-child {
  margin-left: 50px;
  border-left: 1px solid black;
}

.btn-group div {
  margin-top: 10px;
  margin-right: 10px;
}

.profile-image {
  height: 150px;
  width:170px;
  margin-top: 190px;
  margin-left:10px;

}




.column1{
  width:40%;
  height: auto;
  margin-top: 25px;
  padding: 20px;
}

.column1 h3 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.column1 li {
  font-size: 24px;
  line-height: 48px;
}

.column2{
  width:40%;
  height:80%;

}

.column2 h2 {
  font-size: 48px;
}

.column2 input {
  border: 3px solid #DDD;
  margin-top:15px;
}

.column2 input[type="text"]{
  width:calc(45% - 5px);
}

.column2 input[type="email"]{
  width:90%;
}

.column2 input[type="password"] {
  width:90%;
}

.column2 p {
  margin-top: 15px;
}

select {
  border: 2px solid black;
  margin-top: 15px;
}

#main-signup-submit {
  border: 1px solid gray;
  box-shadow: 3px 3px 1px 1px #111;
  background: #1ea82c;
  width:92%;
  height: auto;
  color: #EEE;
  border: 2px solid black;
  font-size: 24px;
  padding-top:5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 890px) {
  /*Fix smaller display*/
  .flex-wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 607px){

  .flex-wrapper {
    flex-direction: column;
  }

  .main-header form {
    float: left;
  }
  .column1 h3 {
    font-size: 24px;
    line-height: normal;
  }

  .column1 li {
    font-size: 14px;
    line-height: normal;
  }
}
