@import "reset", "colors", "helper-classes";

body {
	font-family: Helvetica, "Arimo", sans-serif;
}

nav {
	width: 100%;
	background-color: $nav;
	color: white;
}

@mixin bolding {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
}

h1 {
	@include bolding;
	font-size: 48px;
	padding: 10px;
	padding-left: 0;
	display: inline-block;
}

h2 {
	@include bolding;
	font-size: 36px;
	line-height: 1em;
}

h3 {
	@include bolding;
	font-size: 24px;
	line-height: 2em;
}

strong {
	@include bolding;
}

label {
	padding-bottom: 5px;
}

nav {
	label {
		color: white;
		font-size: 12px;
		font-weight: bold;
	}

	button {
		background-color: $nav-button;
		padding: 5px 10px;
		border: none;
	}

	input {
		padding: 3px;
		vertical-align: top;
		border: none;
	}

	h3 {
		line-height: 1.5em;
		margin-top: 5px;
	}
}

.global-nav div {
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}

input {
	width: 150px;
	margin-top: 5px;
}

input[type=radio] {
	width: auto;
}

textarea  {
	width: 600px;
	height: 100px;
}

table {
	width: 400px;
	height: 68px;
}

td {
	vertical-align: middle;
}

p, span, a, li, td, th {
	font-size: 14px;
	line-height: 1.5em;
}

input, button, select {
	border-radius: 3px;
}

.blurb {
	width: 560px;
	margin-top: 79px;
}

.sign-up {
	width: 400px;
	margin-top: 20px;
}

.intro-list {
	list-style: disc;

	li {
		margin-left: 48px;
		line-height: 2.5em;
	}
}

.half-width {
	width: calc(50% - 5px);
}

.full-width {
	width: 100%;
}

.sign-up {
	input, select {
		padding: 5px;
		margin-bottom: 10px;
	}

	input {
		border: $border;
	}

	select {
		margin-right: 10px;
		margin-top: 5px;
	}

	fieldset {
		margin: 10px 0;
	}

	button {
		margin-top: 10px;
		background-color: $sign-up;
		color: white;
		border: 1px solid black;
		font-size: 24px;
		padding: 10px 0;
	}
}

.logo {
	height: 30px;
	fill: white;
	margin-top: 10px;
	margin-right: 10px;
}

.search {
	width: 600px;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
}

.column {
	width: 398px;
	padding: 40px;
	padding-top: 0;

	h3 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	p {
		line-height: 1.4em;
	}
}

.main-header {
	height: 320px;
	background-image: url("../../images/harry_header.jpg");
	background-size: cover;
	background-position: 0 -50px;
	position: relative;

	h1 {
		position: relative;
		left: 200px;
		top: 220px;
		color: white;
		text-shadow: 0 0 5px black;
	}
}

@mixin avatar-style {
	border-radius: 5px;
	margin: 10px
}

.avatar {
	width: 170px;
	height: 170px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	border-radius: 5px;
	background-color: white;

	img {
		@include avatar-style;

		width: 150px;
	}
}

.avatar-small {
	height: 120px;

	img {
		@include avatar-style;

		width: 100px;
	}
}

.avatar-mini img {
	@include avatar-style;

	width: 70px;
}

.header-nav {
	background-color: white;
	height: 40px;
	position: relative;
	margin-top: 220px;
	border-bottom: $border;

	ul {
		margin-left: 200px;
	}

	a:hover li {
		background-color: $header-hover;
	}

	li {
		display: inline-block;
		width: 120px;
		padding: 10px;
		border-right: $border;
		color: black;
	}

	a:first-child li {
		border-left: $border;
	}
}

.profile-link p {
	padding: 12px;
	font-size: 12px;
}

.page-header {
	margin-top: 30px;
	background-color: $active-background;
	padding: 10px;
	position: relative;
	border-bottom: none;

	h2 {
		text-align: center;
	}

	button {
		position: absolute;
		right: 10px;
		top: 10px;
		background-color: $nav;
		color: white;
		padding: 5px;
		border-radius: 5px;
	}
}

.about-table {
	th {
		text-align: left;
		font-weight: bold;
	}

	th, td {
		padding: 10px 0;
	}
}

.friend {
	margin-top: 20px;
	height: 120px;
	width: 100%;
}

.friend-info {
	display: inline-block;
	box-sizing: border-box;
	height: 110px;
	line-height: 1.5em;
	position: relative;
	padding: 0 10px;

	div {
		position: relative;
		top: 50%;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.sidebar {
	width: 320px;
	box-sizing: border-box;
	padding-top: 10px;

	h3 {
		margin-left: 10px;
	}
}

.friend-activity {
	height: 90px;
	padding: 0 10px;

	div {
		position: relative;
		top: 50%;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		line-height: 1.25em;
	}
}

.feed {
	width: calc(100% - 322px);
	border-left: $border;
}

.post {
	box-sizing: border-box;
	width: 640px;
	margin: 20px auto;
}

.post-head {
	background-color: $active-background;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border-bottom: $border;

	p {
		font-size: 18px;
	}
}

.post-body {
	padding: 20px;
	border-bottom: $border;
}

.post-foot {
	background-color: $active-background;
	padding: 10px 20px;

	button {
		background-color: $nav;
		color: white;
		font-weight: bold;
		font-size: 14px;
		padding: 5px 10px;
		margin-right: 10px;
	}

	li {
		display: inline-block;
		margin-right: 20px;
	}

	li:last-child {
		margin-right: 0;
	}

	p {
		margin: 10px 0;
	}
}

.comment {
	padding-bottom: 20px;
}

.comment-body {
	margin-left: 90px;
}

.comment-author {
	margin-top: 10px;
}