/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Body */

body {
  font-family: Helvetica;
}

/* Clearfix */

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/* Header */

header {
  width: 100%;
  height: 75px;
  color: #FFF;
  background-color: #3A5795;
  border-bottom: 2px solid #000;
  display: inline-block;
}

header h1,
header h2,
header form {
  display: inline-block;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

header form {
  float: right;
  width: 40%;
}

header h2 {
  padding-right: 115px;
  margin-top: 15px;
}

header h1 {
  font-weight: bold;
  font-size: 40px;
  padding-top: 15px;
}

.info {
  margin: 5px 15px 0 0;
  border: 1px solid #000;
  width: 131px;
  padding: 5px 0 5px 7px;
}

.log-in {
  background-color: #5972A7;
  padding: 2px 0;
  color: #FFF;
  border: 1px solid #000;
  width: 75px;
  padding: 5px 0;
  box-shadow: 1px 1px 5px #666;
}

/* Content */

.content {
  padding-top: 100px;
}

.col,
.col2 {
  display: inline-block;
  vertical-align: top;
  line-height: 60px;
}

.col {
  width: 60%;
  margin-top: 80px;
}

.col2 {
  width: 40%;
}

.col ul {
  list-style: disc;
  margin-left: 50px;
  color: #666;
}

.col h3 {
  font-size: 30px;
  font-weight: bold;
}

.col h4 {
  display: inline-block;
  font-weight: bold;
  color: #666666;
}

.col2 h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.col2 input {
  width: calc(100% - 11px);
  border: 2px solid #CCC;
  padding: 5px 0 5px 7px;
}

#first-name,
#last-name {
  width: 45%;
}

#first-name {
  margin-right: 13px;
}

.birthday {
  line-height: 50px;
}

.birthday h2
.birthday select {
  display: inline-block;
}

.birthday h2 {
  font-size: 18px;
  font-weight: bold;
}

.birthday select {
  vertical-align: top;
  margin-right: 10px;
}

.gender {
  margin: 0;
  line-height: 20px;
}

.content .sex {
  width: auto;
  vertical-align: top;
  margin-right: 12px;
}

#sign-up {
  margin-top: 25px;
  width: 100%;
  font-size: 20px;
  color: #FFF;
  font-weight: bold;
  background-color: #239E0F;
  box-shadow: 2px 2px 5px #CCC;
  padding: 15px 0;
}