.clearfix::before, .clearfix::after {
  display: table;
  content: " ";
}

.clearfix::after {
  clear: both;
}

.grid {
	width: 960px;
	margin: auto;
}

.float-left {
	display: inline-block;
	float: left;
}

.float-right {
	display: inline-block;
	float: right;
}

.border {
	border: 2px solid #cccccc;
}

body {
	font-family: Helvetica, "Arimo", sans-serif;
}

nav {
	width: 100%;
	background-color: #335599;
	color: white;
}

h1 {
	font-size: 48px;
	padding: 10px;
	padding-left: 0;
	font-weight: bold;
	display: inline-block;
}

h2, h3, strong {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
}

h2 {
	font-size: 36px;
	line-height: 1em;
}

h3 {
	font-size: 24px;
	line-height: 2em;
}

label {
	padding-bottom: 5px;
}

nav label {
	color: white;
	font-size: 12px;
	font-weight: bold;
}

nav button {
	background-color: #bbccff;
	padding: 5px 10px;
}

input {
	width: 150px;
	margin-top: 5px;
}

input[type=radio] {
	width: auto;
}

table {
	width: 400px;
	height: 68px;
}

td {
	vertical-align: middle;
}

p, span, a, li, td, th {
	font-size: 14px;
	line-height: 1.5em;
}

.blurb {
	width: 560px;
	margin-top: 79px;
}

.sign-up {
	width: 400px;
	margin-top: 20px;
}

.intro-list {
	list-style: disc;
}

.intro-list li {
	margin-left: 48px;
	line-height: 2.5em;
}

.half-width {
	width: calc(50% - 5px);
}

.half-width:lastchild {
	margin-left: 5px;
}

.full-width {
	width: 100%;
}

.sign-up input, .sign-up select {
	padding: 5px;
	margin-bottom: 10px;
}

.sign-up select {
	margin-right: 10px;
	margin-top: 5px;
}

.sign-up fieldset {
	margin: 10px 0;
}

.sign-up button {
	margin-top: 10px;
	background-color: green;
	color: white;
	border: 1px solid black;
	font-size: 24px;
	padding: 10px 0;
	box-shadow: 2px 2px 2px #666666;
}

input, button, select {
	border-radius: 3px;
}

.sign-up input {
	border: 2px #EBE9ED solid;
}

nav input, nav button {
	border: none;
}

nav input {
	padding: 3px;
	vertical-align: top;
}

.logo {
	height: 30px;
	fill: white;
	margin-top: 10px;
	margin-right: 10px;
}

.search {
	width: 600px;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
}

.column {
	width: 398px;
	padding: 40px;
	padding-top: 0;
}

.column h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.column p {
	line-height: 1.4em;
}

nav h3 {
	line-height: 1.5em;
	margin-top: 5px;
}

.main-header {
	height: 320px;
	background-image: url("../images/harry_header.jpg");
	background-size: cover;
	background-position: 0 -50px;
	position: relative;
}

.main-header h1 {
	position: relative;
	left: 200px;
	top: 220px;
	color: white;
	text-shadow: 0 0 5px black;
}

.avatar {
	width: 150px;
	height: 150px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
}

.avatar img {
	width: 150px;
	border-radius: 5px;
}

.avatar-small {
	height: 120px;
}

.avatar-small img {
	height: 100px;
	border-radius: 5px;
	margin: 10px;
}

.avatar-mini img {
	width: 70px;
	border-radius: 5px;
	margin: 10px;
}

.header-nav {
	background-color: white;
	height: 40px;
	position: relative;
	margin-top: 220px;
	border-bottom: 2px solid #cccccc;
}

.header-nav ul {
	margin-left: 200px;
}

.header-nav a:hover li {
	background-color: #ddeeff;
}

.header-nav li {
	display: inline-block;
	width: 120px;
	padding: 10px;
	border-right: 2px solid #cccccc;
	color: black;
}

.header-nav a:first-child li {
	border-left: 2px solid #cccccc;
}

.active {
	background-color: #eeeeee;
}

.count {
	color: #aaa;
}

.profile-link p {
	padding: 12px;
	font-size: 12px;
}

.page-header {
	margin-top: 30px;
	background-color: #eeeeee;
	padding: 10px;
	position: relative;
	border-bottom: none;
}

.page-header h2 {
	text-align: center;
}

.page-header button {
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: #335599;
	color: white;
	padding: 5px;
	border-radius: 5px;
}

.about-table th {
	text-align: left;
	font-weight: bold;
}

.about-table th, .about-table td {
	padding: 10px 0;
}

.global-nav div {
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}

.friend {
	margin-top: 20px;
	height: 120px;
	width: 100%;
}

.friend-info {
	display: inline-block;
	box-sizing: border-box;
	height: 110px;
	line-height: 1.5em;
	position: relative;
	padding: 0 10px;
}

.friend-info div {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.sidebar {
	width: 320px;
	box-sizing: border-box;
	padding-top: 10px;
}

.friend-activity {
	height: 90px;
	padding: 0 10px;
}

.friend-activity div {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	line-height: 1.25em;
}

.friend-link {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

.feed {
	width: calc(100% - 322px);
	border-left: 2px solid #cccccc;
}

.post {
	box-sizing: border-box;
	width: 640px;
	margin: 20px auto;
}

.post-head {
	background-color: #eeeeee;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid #cccccc;
}

.post-head p {
	font-size: 18px;
}

.post-body {
	padding: 20px;
	border-bottom: 2px solid #cccccc;
}

textarea  {
	width: 600px;
	height: 100px;
}

.post-foot {
	background-color: #eeeeee;
	padding: 10px 20px;
}

.post-foot button {
	background-color: #335599;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 10px;
	margin-right: 10px;
}

.post-foot li {
	display: inline-block;
	margin-right: 20px;
}

.post-foot li:last-child {
	margin-right: 0;
}

.post-foot p {
	margin: 10px 0;
}

.comments {
	border-top: 2px solid #cccccc;
	margin-top: 20px;
}

.sidebar h3 {
	margin-left: 10px;
}

.comment {
	padding-bottom: 20px;
}

.comment-body {
	margin-left: 90px;
}

.comment-author {
	margin-top: 10px;
}